[2019-06-28 04:56] satu0king opened #2 "Bucketlist"
These are minor things that can help in the long run.
- [ ] Edit on Github link
- [ ] References page
- [ ] Google Analytics Tracking

[2019-07-17 06:10] sal2701 opened #4 "Add binary labels to the interactive K-Map"
**Is your feature request related to a problem? Please describe.**
Most of the learning resources including the tutorial on the website use 0's and 1's as labels to teach students about K-map. So, the same system implemented here will be useful and convenient for everyone

**Describe the solution you'd like**
0's and 1's should also be displayed along with the lines around the K-map for convenienc

[2019-07-17 06:56] sal2701 opened #5 "Request for Issue templates"
#### Is your feature request related to a problem? Please describe.
Templates for users to fill in while submitting issues will be helpful.

#### Describe the solution you'd like
Issue templates for Bug Report, Feature Request while raising an issue are necessary and will help maintain uniformity

#### Are you working on this? (Yes/No)
No

[2019-07-17 08:13] satu0king commented on #4
@Amansingla97 please help @sal2701 out with the kmap code. Also @sal2701 note that the user can hover on any cell and it shows the values.

[2019-07-17 09:36] sal2701 commented on #4
@satu0king if we think from the point of view of a learner, they might not find the lines indicating 1's as intuitive as the binary numbers. Also since the previous module teaches using 1's and 0's, consistency in the tables will help them learn better. This is what I and a few of my friends who tried it out feel. We can even add a toggle if necessary

[2019-07-17 09:37] satu0king commented on #4
Yes a toggle is good

[2019-07-17 09:45] sal2701 commented on #4
Okay, so I'll start working on it and ask if I have any doubts

[2019-07-17 14:38] DaKeiser opened #6 "Documentation Improvements/Errors"
There are some documentation errors like
- in [this](https://github.com/CircuitVerse/Interactive-Book/blob/master/docs/binary.md) there is incomplete sentence in line 67 of the code.
- Poor readability of text in Bitwise Operators subheading in [Operators in Binary](https://learn.circuitverse.org/docs/binary2.html). That was meant to be a table as far as I understand from the code.

There can be f

[2019-07-17 15:02] Amansingla97 commented on #4
gr8

[2019-07-17 15:05] Amansingla97 commented on #6
gr8 you can start working on issues.

I have corrected the table in bitwise operator and there is no need in the two-way light switch as it is not giving any added advantage. Rest you can start working.

[2019-07-17 15:20] Amansingla97 opened #7 "CSS issue in dark mode."
There are no. of CSS issues in dark mode. Most of the interactive elements are not designed for dark mode so you can start working on it one by one. Moreover, the scroll bar in nav also does change its color in dark mode.

[2019-07-17 15:27] Amansingla97 opened #8 "Change Mouse pointer when hovered on gates"
Currently, the mouse pointer does not change it's state from an arrow to hand when hovered over a gate in interactive gates module
![Screen Recording 2019-07-17 at 8 53 09 pm](https://user-images.githubusercontent.com/20012612/61388396-7a029200-a8d5-11e9-8775-3aace2efccb9.gif)

[2019-07-18 03:48] ankitkataria opened #10 "Remove _site and node_modules from repo"
- `_site` folder is automatically generated by gh-pages, it has already been added to `.gitignore` but needs to removed from repo via `git rm`
- It is generally a good practice to not keep `node_modules` inside VCS. Since all the dependencies inside `package.json` are dev, we should be able to safely delete it from the repo. Instruction to do `npm install` can be added for local setups.
- `.sass_c

[2019-07-19 09:46] sal2701 opened #12 "Dark Mode toggle resets when page refreshed or topic changed"
**Describe the bug**
Whenever we change topic/refresh the dark mode toggles back to default, ie. Day mode

**To Reproduce**
Click Dark mode and refresh page

**Expected behavior**
Mode should stay as it is during a session even after changing topic or refreshing page

**Suggested Solution**
Saving the mode in local storage and make use of it while loading page.

**Are you working on this issue? (Y

[2019-07-27 11:23] Amansingla97 opened #15 "Features to be added"
- [x] Edit On GitHub
- [x] Add Disqus comments or any other alternative
- [x] SEO
- [x] Add Jekyll Admin
- [x] add alu module

**I am working on this**

[2019-08-02 03:09] Amansingla97 commented on #15
@satu0king completed :)

[2019-08-03 04:50] #15 closed

[2019-08-03 05:52] satu0king commented on #15
You are fast xD

[2019-08-22 19:25] #10 closed

[2019-10-03 12:13] netkeojas opened #17 "Error in installation and running."
$ bundle install
_Traceback (most recent call last):
	2: from /home/ojas/.rbenv/versions/2.5.1/bin/bundle:23:in `<main>'
	1: from /home/ojas/.rbenv/versions/2.5.1/lib/ruby/site_ruby/2.5.0/rubygems.rb:308:in `activate_bin_path'
/home/ojas/.rbenv/versions/2.5.1/lib/ruby/site_ruby/2.5.0/rubygems.rb:289:in `find_spec_for_exe': can't find gem bundler (>= 0.a) with executable bundle (Gem::GemNotFoundExc

[2019-10-25 13:43] ankitkataria commented on #17
Hey @netkeojas , you'll have to install ruby and bundler(`gem install bundler`) before doing a `bundle install`.

[2019-10-25 13:44] #17 closed

[2019-10-25 13:46] ankitkataria commented on #5
We can refer the [this](https://github.com/CircuitVerse/CircuitVerse/tree/master/.github) for the templates.

[2019-10-25 17:49] Parikshit-Hooda commented on #5
@ankitkataria We should have templates for this repo as well.

[2019-11-02 09:38] ShreyaPrasad1209 opened #19 "Starred/Number of Views tab unresponsive"
**Problem**
Starred/Number of Views tab unresponsive as shown in screenshot.

**Changes proposed**
Use media query for maintaining the width of the tab. Verify by inspection

**Screenshot**
![image](https://user-images.githubusercontent.com/43600306/68069140-30ee2500-fd82-11e9-816a-3d0726b58daf.png)

[2019-11-02 09:46] ShreyaPrasad1209 opened #20 "Display shadow effect on hover"
Apply shadow effect on boxes containing digital circuits when hovered by mouse.

![2019-11-02 (1)](https://user-images.githubusercontent.com/43600306/68069243-a3abd000-fd83-11e9-8d6c-e3a58a88c55c.png)

[2019-11-02 09:59] ShreyaPrasad1209 opened #21 "Change mouse to pointer on hover"
Mouse should change to pointer form when hovered on post comment/cancel button.

![image](https://user-images.githubusercontent.com/43600306/68069357-503a8180-fd85-11e9-8292-49025bd88747.png)

[2019-11-02 10:06] ShreyaPrasad1209 opened #22 "Change font size and family in comments section"
**Problem**
 No CSS on fonts in comment section. Font size also small.

**Changes proposed**
Try this out.
[code]
**Alternative changes**
Maybe use Poppins or some other font style.

**Screenshot**
![image](https://user-images.githubusercontent.com/43600306/68069415-e66ea780-fd85-11e9-9770-275f33394608.png)

[2019-11-05 15:15] deepak2431 opened #23 "Change font color in dark mode"
#### I am submitting a -
* [] **Bug Report**

#### Describe your bug/feature -
The color of the button text is not visible in dark mode.

#### Screenshots (if relevant) -

![Screenshot from 2019-11-05 20-39-43](https://user-images.githubusercontent.com/44617923/68220097-1b406000-000d-11ea-95d9-ace723202cb2.png)

[2019-11-05 15:29] deepak2431 opened #24 "Add XNOR gate tutorial"
#### I am submitting a -
* [] **Feature Request**

#### Describe your bug/feature -
 In the logic gates tutorial the tutorial for the XNOR gate is missing. Add the tutorial of XNOR gate to the section of logic gates.

[2019-11-05 16:21] deepak2431 opened #25 "Fix text overriding"
#### I am submitting a -
* [] **Bug Report**

#### Describe your bug/feature -
The digit 0 appears to override the box.

#### Screenshots (if relevant) -
![Screenshot from 2019-11-05 21-48-48](https://user-images.githubusercontent.com/44617923/68225411-627f1e80-0016-11ea-9fe9-f67bfb3a4ee1.png)

[2019-11-05 17:07] monsij opened #26 "Introduction of tags to lessons/chapters"
Tags can be introduced to each and every lessons presented in the interactive book. This will not only help to understand what areas is the chapter related to but also can be used to group related chapters under a common umbrella.

Also **See Also** sections can be added to some lessons to suggest further reading areas.

[2019-11-05 19:50] dev9414 opened #27 "Add title:universal gate"
In logic gate section there no word saying what are universal gate and how we can use them to make all other logic gates

[2019-11-05 19:56] dev9414 opened #28 "K map method"
In K (k=4) map method number given to each cell should in following order

0    1    3     2
4   5    7     6
12  13  15  14
8    9     11 10

But it is in wrong order

[2019-11-05 19:57] deepak2431 opened #29 "Fix typo of button text"
#### I am submitting a -
* [] **Bug Report**

#### Describe your bug/feature -
The initial of button text No is in small letter.

#### Screenshots (if relevant) -
![Screenshot from 2019-11-06 01-22-38](https://user-images.githubusercontent.com/44617923/68241422-a3862b80-0034-11ea-9ff8-c9c2de552c0d.png)

[2019-11-05 20:04] dev9414 opened #30 "One flip flop missing"
In flip flop section there is only
1)SR
2)JK
3)D
4)T
FLIP FLOP are available
But MASTER-SLAVE flip flop is missing

[2019-11-05 20:04] deepak2431 opened #31 "Add other variations of MUX and DEMUX"
#### I am submitting a -
* [] **Feature Request**

#### Describe your bug/feature -
Currently, only one variation of multipexer and demultiplexer is shown in the book. Add other variations of the multiplexer and demultiplexer too. The section of the multiplexers and demultiplexers can be divided into sub-section to add the other variations.

[2019-11-05 20:07] deepak2431 opened #32 "Add applications of MUX and DEMUX"
#### I am submitting a -
* [] **Feature Request**

#### Describe your bug/feature -
The application of multiplexer and demultiplexer can be added to make the book more informative.

[2019-11-05 20:10] dev9414 opened #33 "O is not in center"
in msi components in multiplexer in circuit diagram 0 is touches to upper level box it should be in center

![Screenshot_20191106-013805](https://user-images.githubusercontent.com/46513305/68242337-573beb00-0036-11ea-97cb-487168411607.png)

[2019-11-05 20:13] deepak2431 opened #34 "Activate the searchbar onclick"
#### I am submitting a -
* [] **Feature Request**

#### Describe your bug/feature -
Implement feature to activate the search bar onClick. No results found should also be displayed for the contents not found in the book. This feature can also be implemented with the search bar.

[2019-11-05 20:16] dev9414 opened #35 "Implementation using universal gate missing"
Feature request
In combination circuit
Circuit diagram of
1)full adder
2)full subtractor
Using only UNIVERSAL GATES are missing

[2019-11-05 20:22] deepak2431 opened #36 "Add other two registers"
#### I am submitting a -
* [] **Feature Request**

#### Describe your bug/feature -
Currently, the book only consists of 4 types of registers. The other two missing registers which should be added are
1. Bidirectional Shift Register
2. Universal Shift Register

[2019-11-05 20:23] dev9414 opened #37 "Reference is only text"
Feature request
In reference section
What ever references are written it is only in TEXT format ,make it such that when ever we click in that link of reference we redirect to that link

[2019-11-05 20:26] deepak2431 opened #38 "Non-clickabe links of the references page"
#### I am submitting a -
* [] **Feature Request**

#### Describe your bug/feature -
For now to visit a link user need to copy the link and open it in a new browser. Make all the links of references page clickable so as it should open in a new window.

[2019-11-05 20:28] dev9414 opened #39 "Difference between latch and flip flop"
Feature request:
There no explanation of difference between latch and flip-flop in either of latch and flip flop section

[2019-11-05 20:30] deepak2431 opened #40 "Missing contributors profile in README.md"
#### I am submitting a -
* [] **Feature Request**

#### Describe your bug/feature -
The contributors profile can be added to the README page.

[2019-11-05 20:30] dev9414 opened #41 "Race around condition"
Feature request:
There is no explanation of race around or racing condition of JK FLIP FLOP

[2019-11-05 20:35] dev9414 opened #42 "Flip flop conversion section missing"
Feature request:
Conversion method of
JK FLIP FLOP ->D FLIP FLOP
SR FLIP FLOP ->JK FLIP FLOP
SR FLIP FLOP->T FLIP FLOP
T FLIP FLOP ->D FLIP FLOP
 with their circuit diagram can be added

[2019-11-05 20:35] deepak2431 opened #43 "Add types of Asynchronous and Synchronous counter"
#### I am submitting a -
* [] **Feature Request**

#### Describe your bug/feature -
The types of asynchronous and synchronous is missing in the book which should be added.

[2019-11-05 20:39] dev9414 opened #44 "Special types of counter Missing"
1)Ring counter
2)Johnson's counter(Twisted/switch tail ring counter)
ARE MISSING

[2019-11-05 20:40] deepak2431 opened #45 "Add binary number representation details"
#### I am submitting a -
* [] **Feature Request**

#### Describe your bug/feature -
Detailed explanation about unsigned and signed numbers and representation of binary numbers into signed and unsigned form can be added.

[2019-11-05 20:46] dev9414 opened #46 "Types of shift register missing"
feature request
1)Bidirectional shift register
2)Universal shift register

Are missing

[2019-11-05 20:51] dev9414 opened #47 "Types of Asynchronous counter missing"
Feature request:
1)3 bit Asynchronous up  counter
2)4 bit Asynchronous up counter
3)3 bit Asynchronous down counter
4)4 bit Asynchronous down counter
Are missing

[2019-11-05 20:53] deepak2431 opened #48 "Dark mode changes after refreshing the page"
#### I am submitting a -
* [] **Bug Report**

#### Describe your bug/feature -
The dark mode change by default on refreshing the page.

#### Current behaviour - Change to the dark mode and on refreshing the page the dark mode changed.

#### Expected behaviour -  The dark mode should not change by default on refreshing the page.

[2019-11-05 20:55] dev9414 opened #49 "Types of ripple counter missing"
Feature request:
 3 bit&4 bit up/down ripple counter missing

[2019-11-05 21:00] dev9414 opened #50 "Type of synchronous counter missing"
3 bit& 4 bit up/down synchronous counter missing

[2019-11-06 09:53] deepak2431 opened #51 "Edit on github redirects to index.md page"
#### I am submitting a -
* [] **Bug Report**

#### Describe your bug/feature -
The edit link on the page redirects to the index.md page.

#### Current behaviour -
The Edit on Github link on the page redirects to the index page.

#### Steps to reproduce the behaviour-
1. Open the interactive-book.
2. Click on the Edit on Github link you will be redirected to the index.md page.

#### Expected behavi

[2019-11-06 12:15] deepak2431 commented on #29
@Parikshit-Hooda  I think this issue can be added as the similar task you have been looking as beginner level task for GCI which would help the students to understand how to raise their first pull request.

[2019-11-07 13:49] ShreyaPrasad1209 commented on #48
**Duplicate Issue**
This issue is already open at #12 .

[2019-11-07 13:57] ShreyaPrasad1209 commented on #51
**Duplicate Issue**
This issue is already open at https://github.com/CircuitVerse/CircuitVerseDocs/issues/155

[2019-11-07 13:58] ShreyaPrasad1209 commented on #47
**Duplicate Issue**
Already open at #43

[2019-11-07 14:03] ShreyaPrasad1209 commented on #50
**Duplicate Issue**
Alreday open at #43

[2019-11-07 14:05] #50 closed

[2019-11-07 14:06] #47 closed

[2019-11-07 15:03] JoshuaPoddoku opened #52 "dark mode UI enhancements"
## Feature: UI enhancements (including color and fonts)

![Screenshot (39)](https://user-images.githubusercontent.com/31725457/68398683-20cbb080-019b-11ea-8237-9c3ef1ae61fd.png)
-  Color transition in Subheading and Paragraph for better UX.
- Suggested font-family: Roboto-mono, monospace for paragraphs.
- Color for links: #00e8b3
- Color for background: #13101f
- Color for paragraph:  #efc7ff

![S

[2019-11-07 16:08] deepak2431 commented on #51
@ShreyaPrasad1209 Thanks for reviewing. I will close this issue.

[2019-11-07 16:08] #51 closed

[2019-11-07 16:11] deepak2431 commented on #48
@ShreyaPrasad1209 Thanks for the review. I will close it.

[2019-11-07 16:11] #48 closed

[2019-11-07 17:33] dev9414 opened #53 "Sign up with other social media"
I am submitting
Feature request
We can also add feature like
Sign up with:LinkedIn,GitHub

Right now there is only 4 option available
![Screenshot_20191107-230025~2](https://user-images.githubusercontent.com/46513305/68412752-ce968980-01b2-11ea-88fc-e87ca8e48fdc.png)

[2019-11-07 17:37] dev9414 commented on #38
Already opened at #36

[2019-11-07 20:14] JoshuaPoddoku commented on #52
This can be an issue for GCI students.

[2019-11-11 06:54] ShreyaPrasad1209 opened #55 "Elaborate Flip Flop Interaction explanation"
**Current Status**
https://learn.circuitverse.org/docs/flipflop2.html contains an interactive exercise on flip flops and explanation about state tables. This can be further elaborated so that a beginner can understand it.

**Changes required**
Improve explanation such that understanding of interactive flip flop increases.

**Are you working on this issue?**
No, for GCI participants under difficult

[2019-11-11 07:42] ShreyaPrasad1209 opened #56 "Add POS and SOP"
Add following topics after Boolean function-
1. Sum of Product
2. Product of Sum
3. Minimal to Canonical Form Conversion

Explain with examples, diagrams, flow-charts etc.

You are expected to extend the content from here - https://learn.circuitverse.org/docs/bool2.html#sum-of-product-expressions-sop

[2019-11-11 07:48] ShreyaPrasad1209 opened #57 ""Comment" invisible in dark mode"
**Problem**
Number of comments becomes invisible in dark mode

**Solution**
`color: #E3E3E3`

**Screenshot**
![2019-11-11 (8)](https://user-images.githubusercontent.com/43600306/68569979-82cf3300-0485-11ea-8f1b-a10657a90f08.png)

**Are you working on this issue**
No, for GCI participants under beginner-friendly

[2019-11-11 20:50] aayush-05 opened #59 "Typo and Div element not properly configured for Dark Mode"
**Bug**
The Div element showing the list of subjects on the "Basic Applications" page is not configured well for the Dark mode switch and therefore the text is barely visible there. Also there is a typo present in the Page Heading itself.

**Screenshots**
![image](https://user-images.githubusercontent.com/47032027/68619853-3f5ede00-04f2-11ea-8b96-0f7c9e4d90b9.png)

![image](https://user-images.git

[2019-11-11 20:55] aayush-05 opened #60 "Text color not in accordance with Theme"
**Bug**
The color of the heading and the explanation text on the "Boolean Function" doesn't change its colour in accordance to the Dark Mode switch.

**Screenshots**
![image](https://user-images.githubusercontent.com/47032027/68620517-a4ff9a00-04f3-11ea-99dc-2525c5eee6fc.png)

![image](https://user-images.githubusercontent.com/47032027/68620527-a761f400-04f3-11ea-9630-76a2b9b303e6.png)

**Solution

[2019-11-11 21:00] aayush-05 opened #61 "Buttons and Drop down not in accordance to Dark Mode"
**Bug**
The buttons and the Drop down section on the "Interactive Karnaugh Map" page doesn't change with the Dark theme of the rest of the page.

**Screenshots**
![image](https://user-images.githubusercontent.com/47032027/68620802-425ace00-04f4-11ea-8443-54ae24a4b3a1.png)

**Solution**
Change the css files of the page to change the background to black.

[2019-11-11 21:05] aayush-05 opened #62 "Input text not visible"
**Bug**
The input text and the text of the button is not visible on the "Operators in Binary" page when the dark mode is switched on.

**Screenshots**
![image](https://user-images.githubusercontent.com/47032027/68621089-e3e21f80-04f4-11ea-9f1e-7d8608b9120b.png)

**Solution**
The css file of the page should be changed to make the background color black and the text color to be white.

[2019-11-13 08:31] tachyons commented on #38
Duplicate of #37

[2019-11-13 19:31] ShreyaPrasad1209 opened #66 "Re-write content for boolean algebra"
**Problem**
https://learn.circuitverse.org/docs/bool.html appears to be plagiarized from https://www.tutorialspoint.com/computer_logical_organization/boolean_algebra.htm.

**Solution**
Re-write the content in your own words.

**Are you working on this task?**
No, for GCI participants under medium, documentation labels.

[2019-11-13 20:56] aayush-05 opened #69 "Repetitive text on Basic Applications page"
Repetitive text is present on the "Basic Applications" page. The first word is a hyperlink as well, so the second repetitive word isn't required.

**Screenshots**
![image](https://user-images.githubusercontent.com/47032027/68803637-2424d780-0686-11ea-88d3-207546490bd3.png)

**Solution**
Change the appropraite .md file under the docs folder of the repository.

[2019-11-13 21:00] aayush-05 opened #70 "Burger button absent for the sidebar"
A burger button can be added on the top left corner of the page to minimize/ maximize the navigation sidebar of the website.

This would help to eliminate the overlapping of the main content under the sidebar.

**Screenshots**
![image](https://user-images.githubusercontent.com/47032027/68803879-95648a80-0686-11ea-891a-6fa75806ea0a.png)
_(Here the AND button(Operation button) is overlapped under th

[2019-11-14 06:31] aayush-05 commented on #66
According to me, almost 70% of the content on the website is copied from TutorialsPoint.
We can have a team of say 3-4 people having an electronics background to rewrite the whole content again.
Solely relying on students under gci won't be a good option, because it would make different pages mismatched due to different styles of writing.
What do you think @tachyons ?

[2019-11-14 06:34] ShreyaPrasad1209 commented on #66
That's why I'm not making them re write the whole book. I'm giving them only those sections which can be done by pre university students as well. I believe boolean algebra can be understood by them.

[2019-11-14 06:38] aayush-05 opened #71 "Table flowing outside of the page"
The table generated on the "FLIPFLOP Interaction" page flows outside of the screen. This makes the output column not visible on the website. Since there is no horizontal scrollbar, there isn't any way possible to see the last column of the table.

**Screenshots**
![image](https://user-images.githubusercontent.com/47032027/68832502-1ea3ad80-06d7-11ea-999c-a2f128a57c52.png)
_(The Z column after the

[2019-11-14 06:45] aayush-05 opened #72 "Element missing after a particular window size"
The div element showing the current gate operation on the "Interactive Gates" page goes missing after shrinking the window size to 850px or less in length. This is a major issue since it doesn't allow us to see which operation is taking place.

**Screenshots**

_Before 850px_
![image](https://user-images.githubusercontent.com/47032027/68832948-36c7fc80-06d8-11ea-83cd-e8712879f41d.png)

_After 850p

[2019-11-14 07:02] aayush-05 commented on #66
Sure @ShreyaPrasad1209
I was just saying that you can mention a template so as to keep the content style on different pages uniform and similar.
Like if the content has to written in the third person or not, if the circuit diagrams has to made on circuitverse simulator or images would be fine, etc.
May be we can mention the details on the gci dashboard itself.

[2019-11-14 07:13] tachyons commented on #66
Boolean algebra contents will be hard for school students, As far I know only computer science higher secondary students have Boolean algebra in their syllabus

[2019-11-14 07:14] tachyons commented on #66
It is better to be written by someone have background in boolean algebra and electronics, few people already volunteered to do that

[2019-11-14 08:59] ShreyaPrasad1209 opened #73 "Add Next and Prev option"
**Problem**
Right now there's no link(apart from side navbar) which directs user from one page to another. Like in a book we can turn to next/prev page, we can do this in Interactive Book too.

**Proposed Solution**
Add a Next and Prev link in each page which will redirect the user to relevant page.
**Screenshot**
![2019-11-14 (2)](https://user-images.githubusercontent.com/43600306/68841303-67b12d

[2019-11-14 11:48] sakshi1499 opened #74 "Add bootstrap to Buttons"
Bootstrap missing in buttons.
![stg](https://user-images.githubusercontent.com/42520146/68854714-a8b53b80-0702-11ea-8223-52ccc0ed9352.PNG)

[2019-11-14 11:51] sakshi1499 opened #75 "Like and Dislike Buttons should be changed"
Like and dislike buttons hover when clicked and the like button requires padding as it forms an incomplete square.
![like](https://user-images.githubusercontent.com/42520146/68854941-2d07be80-0703-11ea-8ff9-f4ca9fc8ba55.PNG)

[2019-11-14 12:32] sakshi1499 opened #76 "Left Margin should be reduced"
The left margin is too wide which ultimately reduces space for the actual documentation.
![lm](https://user-images.githubusercontent.com/42520146/68857459-d3a28e00-0708-11ea-8059-27f264d7505d.PNG)

[2019-11-14 12:35] aayush-05 commented on #74
Hey @sakshi1499
I don't think we are using any bootstrap in Interactive-Book; the styling mainly consists of sass and jekyll.
But yes we can add additional styling to improve their look.

[2019-11-14 12:38] sakshi1499 commented on #74
@aayush-05 I was referring this to create consistent buttons throughout the book. Look at these buttons, they can be added instead of the normal button. What do you think?
![buttons](https://user-images.githubusercontent.com/42520146/68857835-b9b57b00-0709-11ea-8497-3b1f27944933.PNG)

[2019-11-14 14:42] aayush-05 commented on #74
Sure, a more uniform look to the whole website would be great.
I made a pull request for the same. You can check #77

[2019-11-14 15:35] tachyons opened #78 "Setup Gitpod for this project"
Gitpod helps to make development and reviewing PRs easier by proving cloud IDE. Having Gitpod setup for this repo will be great

[2019-11-14 19:24] sal2701 commented on #78
Hey, can I take up this issue?

[2019-11-15 02:55] tachyons commented on #78
Sure

[2019-11-15 11:22] sakshi1499 commented on #78
@sal2701 You can ask me, if you need some help, I have developed Interactive Book in my gitpod :)

[2019-11-15 12:15] eKuG opened #80 "Edit contents of the Interactive book"
Circuitverse's Interactive book should be free of plagiarism. By replicating the content used by Tutorialpoint and Javatpoint is unethical and breaks the CoC of those platforms.
Issue is created to refresh the book entirely wherever plagiarism exists. I Would like to personally pursue this issue.

[2019-11-15 13:49] aayush-05 commented on #80
I can contribute for the content as well :)

[2019-11-16 18:02] sakshi1499 commented on #78
Is someone working on this or should I? @tachyons

[2019-11-17 01:55] sal2701 commented on #78
I wanted to work on this but someone already sent a PR.

[2019-11-17 07:07] sakshi1499 commented on #78
I don't think it was right. .yml file wasn't fine I think. But someone is working on it. You can look for some other issue. Ask me if you need any help 😊 @sal2701

[2019-11-18 04:32] sgpritam opened #86 "Difference between SR and JK flip-flop"
Feature request:
There no explanation of difference between SR and JK flip-flop
There no explanation of difference between D and T flip-flop

[2019-11-18 08:52] shubhankarsharma00 opened #88 "Edit contents and Dark Mode should be buttons and not link inside buttons list."
![image](https://user-images.githubusercontent.com/32474302/69037384-ce498a00-0a0d-11ea-8f5f-140f8eddac5e.png)
 These acts as a link inside a button and you have to click on the text to trigger the redirect. I think the link should be btn class and not the list item.

[2019-11-18 08:55] shubhankarsharma00 commented on #88
To be clearer I think this:
https://github.com/CircuitVerse/Interactive-Book/blob/7ca082cfb8c08be002332443feb760a948ffd328/_layouts/default.html#L32-L33
Should be:
 ```<li class="d-inline-block my-0{% unless forloop.last %} mr-2{% endunless %} js-toggle-dark-mode"><a class = "btn">Dark Mode</a></li>```
```<li class="d-inline-block my-0{% unless forloop.last %} mr-2{% endunless %} "><a class = "btn

[2019-11-20 13:52] ankit1414 opened #89 "The cap condition on number not properly implemented in "operation in Binary" section and calculate button should be repositioned."
the range for numbers is 0 to 255 for the AND operation visulaizer... it currently displays notification about this constraint but inserts the new digit.<br/>
![operators in binary](https://user-images.githubusercontent.com/45892437/69244703-6b9ded00-0bcb-11ea-8635-6ab25b89e19d.png)
it should not add  the new digit after showing the notification popup.<br/>
and maybe the calculate button should be

[2019-11-25 18:40] aayush-05 commented on #88
Hey !
I don't think that the given solution would work as expected.
It gives the following output :

![image](https://user-images.githubusercontent.com/47032027/69568121-04c06f80-0fe1-11ea-990a-9fa752fed765.png)

Also, when the btn class is applied to list element, it gets automatically applied to the anchor element since it is a child element of list.

[2019-11-27 11:49] ankitkataria commented on #34
Addition of `No Results Found` for keywords that are not found will be a great idea.

[2019-11-27 11:50] ankitkataria commented on #35
Related to #27

[2019-11-27 11:51] #38 closed

[2019-11-27 11:55] ankitkataria commented on #46
Duplicate of #36

[2019-11-27 11:55] #46 closed

[2019-11-28 04:10] satu0king commented on #26
Sounds good, just one addition, if we are going to have tags, ideally the query search should be over tags as well.

[2019-11-28 04:12] satu0king commented on #34
This sounds good. @deepak2431  could you clarify what onClick is ?

[2019-11-28 04:13] satu0king commented on #40
Additionally an about/contributors page should be added to the website itself

[2019-11-28 04:18] satu0king commented on #75
We are using Disqus for comments, I don't think we can change it. Moreover, this has to be done from the admin side. On the other side there are some jekyll only comment systems. Could you checkout StaticMan and let us know if its a good idea?
@sakshi1499

[2019-11-28 04:21] satu0king commented on #53
Discus is a 3rd party plugin, we cannot change the login methods for them :)

[2019-11-28 04:21] #53 closed

[2019-11-28 04:21] satu0king commented on #23
Similar/duplicate of #52

[2019-11-28 04:25] satu0king commented on #29
@deepak2431 could you clarify which button text are you referring to ?

[2019-11-28 04:26] satu0king commented on #33
This is to do with the simulator itself and has to be changed at the simulator codebase and not the interactive book.

[2019-11-28 04:26] #33 closed

[2019-11-28 04:31] satu0king commented on #41
Race condition can be added as separate chapter on its own.

[2019-11-28 04:34] satu0king commented on #49
I think this is not needed

[2019-11-28 04:34] #49 closed

[2019-11-28 04:41] sakshi1499 commented on #75
@satu0king okay sure, will look into it.

[2019-11-28 04:57] sakshi1499 commented on #75
@satu0king I read the whole thing. There are many disadvantages of Disqus. Some of them being:

- It stores all the comments people are making, and gives us no control over it.

- It has no track record on privacy, so its not really safe.

- Its not really flexible in customization and comments section might clash.

Staticman is a good solution to all these problems. Though, I feel that this issue

[2019-11-28 10:43] monsij commented on #26
@satu0king  Yeah. The tags can provide great suggestions

[2019-11-28 19:15] sal2701 opened #90 "Remove "Calculate" button in Binary Operations section"
The **Calculate** button in the Binary Operations should be removed as it serves no purpose. The calculations happen as soon as we change the inputs or operations.

**Steps to Reproduce**
* Go to https://learn.circuitverse.org/docs/binary2.html
* Click on numbers and operations to see result, calculate button is not required.

**Are you working on this issue?**
* Nope. For GCI 2019

[2019-11-28 20:06] sal2701 opened #91 "Add a button to each section to copy link to the section"
**New Feature**
The Interactive-Book comprises of various sections and adding a button to copy a link will help in sharing a specific section.

Something like this [link](https://developers.google.com/open-source/gci/resources/getting-started#4_easy_steps)

Links can be added to each and every section or to some specific types of content.

**Are you working on this issue?**
Nope. For GCI 2019

[2019-11-28 22:38] sal2701 opened #92 "Fix typos in the whole book"
There are a few typos in the Interactive-Book and fixing them is necessary and requires one to go through the whole book

**To Do**
* Go through the Interactive-Book and find typos in the text and fix them.

**Are you working on it?**
Nope. For GCI 2019

[2019-11-28 22:46] sal2701 opened #93 "List overflowing in "Binary Flags" activity"
**Problem faced**
While doing the [Binary Flag](https://learn.circuitverse.org/docs/application2.html#binary-flags) activity, the list of subjects overflows and overlaps with the text below.

**Solution**
* Create a larger box/dynamically sized box to fit the complete list properly

**Related Photos**
![Screenshot from 2019-11-29 04-01-42](https://user-images.githubusercontent.com/42511766/6983417

[2019-11-28 23:11] sal2701 opened #94 "Make table generated by "Truth Table Generator" responsive"
#### I am submitting a -
* **Bug Report**

#### Describe your bug/feature -
When the number of inputs is large, the table generated by the truth table generator goes out of the page.

#### Current behaviour -
Table goes out of page.

#### Expected behaviour -
Table should be responsive, have a scroll bar.

#### Screenshots (if relevant) -
![Screenshot from 2019-11-29 04-32-16](https://user-images.

[2019-11-28 23:19] sal2701 opened #95 "Press R to reload Flip-Flop Table Generator"
#### I am submitting a -
* **Feature Request**

#### Describe your bug/feature -
Right now, we have to press "F" to start the [State Table Generator](https://learn.circuitverse.org/docs/flipflop2.html). Once we a table is generated we have to reload/click the link to start the process again.

#### Current behaviour -
No button to restart the State Table Generator.

#### Expected behaviour -
Press

[2019-11-30 15:47] deepak2431 commented on #29
@satu0king I am referring to the button text of Allow don't care and Hide result.

[2019-11-30 15:51] deepak2431 commented on #23
@satu0king Will close this.

[2019-11-30 15:51] #23 closed

[2019-11-30 15:54] deepak2431 commented on #40
@satu0king Yeah, that would be a great idea. To add a contributors profile in the README page can be added as a GCI task under easy I think so. For adding it to the website the design needs to be finalised first.

[2019-11-30 15:57] deepak2431 commented on #34
@satu0king I will add a demo webiste for this purpose. As I mean to activate the searchbar while entering the search keywords.

[2019-11-30 19:48] deepak2431 commented on #34
@satu0king You can check the search bar of this website as it gets activates on hover.
https://www.solodev.com/blog/web-design/how-to-add-expandable-site-search-to-your-navigation.stml

[2019-11-30 20:01] deepak2431 opened #96 "Add CircuitVerse logo in the Readme"
#### I am submitting a -
* [] **Feature Request**

#### Describe your bug/feature -
Add the logo of CircuitVerse in the readme.

#### Are you working on this task -
No, this task is for GCI students.

[2019-12-01 14:49] Shweta0002 opened #97 "Overflowing Binary numbers"
The binary numbers are overflowing from the boxes .
Steps to reporduce:
Go to the link below
https://learn.circuitverse.org/docs/binary.html

![Screenshot from 2019-12-01 20-14-50](https://user-images.githubusercontent.com/40588060/69915673-b810e480-1477-11ea-9990-f1ca6c73ef46.png)

Expected Behaviour:
The numbers should fit the box, rather than overflowing .

[2019-12-02 18:08] Ananthavijay commented on #96
Done
PR : https://github.com/CircuitVerse/Interactive-Book/pull/98

[2019-12-03 04:48] #96 closed

[2019-12-03 06:19] Brownie-in-Motion commented on #34
Can you give some more information about what this means? I don't see the behavior you are describing.

[2019-12-03 09:01] sakshi1499 commented on #25
@deepak2431 Overriding is not visible in my interactive book. Can you check again? If it exists can you confirm that the PR raised by @fluctix is solving the problem?

[2019-12-03 12:50] udbhav-s commented on #76
Hi, is this issue open to fix? I saw this as a GCI task and I can try working on it.

[2019-12-03 14:02] sakshi1499 commented on #76
@udbhav-s I think @aayush-05 has already made a PR for the same. Ask the mentor for this issue, if you can work on it or not.

[2019-12-03 14:31] udbhav-s commented on #76
Yeah, I messaged him and he said I can work on it. I checked the website and the sidebar width was still the same despite the PR so I made a separate pull request:
https://github.com/CircuitVerse/Interactive-Book/pull/102

[2019-12-03 14:39] sakshi1499 commented on #76
@udbhav-s Actually that PR hasn't been merged that is why you can't see the changes. But do as your mentor directed. :)

[2019-12-03 17:42] #90 closed

[2019-12-04 10:58] #25 closed

[2019-12-04 17:17] deepak2431 commented on #34
Can you test the search bar of this website https://www.solodev.com/blog/web-design/how-to-add-expandable-site-search-to-your-navigation.stml
You can see that when you click on the search bar the color changes to light blue. I am expecting the same behaviour to the search bar of Interactive Book after completion of this task.
Thanks!

[2019-12-06 02:04] Parikshit-Hooda commented on #97
@Shweta0002
![Capture](https://user-images.githubusercontent.com/25405707/70289464-d6217080-17fa-11ea-9bc5-17bd026da591.PNG)

[2019-12-06 09:04] #97 closed

[2019-12-07 15:42] mohit-003 commented on #55
What should we do the the explanation on the flip flop interactions https://learn.circuitverse.org/docs/flipflop2.html or the flip flop https://learn.circuitverse.org/docs/flipflop

[2019-12-07 16:38] sakshi1499 commented on #55
Explanation on the flip flop interactions has to be focused @mohit-003

[2019-12-09 07:19] tachyons opened #109 "Setup netlify for interactive book"

[2019-12-10 16:46] mohit-003 commented on #95
Can I work on this? When will this be a task?

[2019-12-10 22:41] sal2701 opened #111 "Flip-Flop Interaction not working"
**Problem Faced**
[Flip-Flop Interaction](https://learn.circuitverse.org/docs/flipflop2.html) not working.

**Expected Behavior**
Process should start on pressing **F** which is not happening. To checkout the actual behavior, try out the older commits locally by using ```git checkout <commit id>```

**Are you working on this issue?**
Nope, For GCI 2019

[2019-12-10 22:58] sal2701 commented on #95
Hey @mohit-003, we'll add this as a task soon, we need to fix something else before making this as a task. Will add #111 as a task so you can work on this after that is fixed.

[2019-12-12 07:02] satu0king commented on #29
To clarify, the fix is changing "no" to "No" in the drop down.

[2019-12-12 15:14] mohit-003 commented on #111
I  Checked why it was not working and found that the interactive book actually uses jquery-1.11.0.min.js when I pulled it from GIT but when I checked the website it was using jquery-3.3.1.slim.min.js which does not actually handle function like .fadeIn() ,So it was not working and to make it work just change the  jquery-3.3.1.slim.min.js version with jquery-1.11.0.min.js in ../assets/js/vendor/ .I

[2019-12-12 15:15] mohit-003 commented on #111
@sal2701 Can I take issue #95 on GCI now? Will issue #111 also come as a GCI task??

[2019-12-12 16:01] sal2701 commented on #111
@mohit-003 Cool! That's right. I will shortly add a task you can claim it then. Just give me some time :smile:

[2019-12-12 16:07] satu0king opened #113 "Half-Adder Interactive Circuit"
https://learn.circuitverse.org/docs/Combinational/half_adder.html

The circuit embedded in the above link uses the built in adder and is therefore wrong. Replace it with a correct implementation of the half-adder circuit.

[2019-12-12 16:10] satu0king opened #114 "ALU interactive Circuit"
https://learn.circuitverse.org/docs/alu.html

In addition to the below image, embed an interactive circuit of the same.

![image](https://user-images.githubusercontent.com/2092958/70728728-f0da7480-1d27-11ea-9d5e-2ce43facc931.png)

[2019-12-12 16:15] satu0king opened #115 "Asynchronous Ripple Counter Interactive Circuit"
https://learn.circuitverse.org/docs/counter.html

Implement an interactive version of the below circuit.

![image](https://user-images.githubusercontent.com/2092958/70729186-b6250c00-1d28-11ea-8745-f4a2b41e9ece.png)

[2019-12-12 16:16] mohit-003 commented on #111
Ok😁👍

[2019-12-12 16:17] satu0king opened #116 "Synchronous Ripple Counter Interactive Circuit"
https://learn.circuitverse.org/docs/counter.html

Implement an interactive version of the circuit below.

![image](https://user-images.githubusercontent.com/2092958/70729305-f84e4d80-1d28-11ea-86b2-14925621ded3.png)

[2019-12-12 16:20] satu0king commented on #111
It is a GCI task now :)

[2019-12-12 16:55] mohit-003 commented on #111
Done!

[2019-12-12 17:05] mohit-003 commented on #116
What does this actually mean?

[2019-12-12 17:06] satu0king commented on #116
Hey!
Go through the description of the Synchronous Ripple Counter, try and understand how it works. Then replicate the above diagram as circuit - create it on circuitverse.org/simulator. Then embed the circuit under the image. The idea is to allow users to interact with the circuit so they can understand it better.

[2019-12-12 17:07] #43 closed

[2019-12-12 17:11] mohit-003 commented on #116
Ok

[2019-12-12 18:08] JoshHeng commented on #114
So I'm just creating this circuit on CircuitVerse and embedding it on the book?

[2019-12-13 02:31] Ananthavijay commented on #113
I have made it @satu0king

[2019-12-15 06:17] #109 closed

[2019-12-15 12:30] mohit-003 opened #133 "Options in the Select tag are not visible in DarkMode."
![darkpreviewbefore](https://user-images.githubusercontent.com/58560983/70862580-2f5c7300-1f64-11ea-9fd6-e660c951eeff.png)

**Problem Faced**
The light colour of text in dark mode makes it difficult to read the text

**Expected Behavior**
The text should be a **darker** color

**Are you working on this issue?**
Yes

[2019-12-15 18:11] mohit-003 commented on #133
@satu0king @tachyons @ankitkataria I have made the changes can I make a PR for this?

[2019-12-15 18:13] mohit-003 commented on #95
I completed this 😁 I'll make a PR when you say @sal2701 .

[2019-12-15 21:19] sal2701 opened #135 "Bullet point size increases randomly"
**Bug Report**
The bullet point size increases randomly.

**Steps To Reproduce**
* Go to [Interactive FSM](https://learn.circuitverse.org/docs/fsm_interactive.html) page of Interactive-Book.
* Open and close the side-bar.

**Are you working on this issue?**
Nope.

[2019-12-16 08:33] #111 closed

[2019-12-16 09:02] sal2701 commented on #95
@mohit-003 Cool! I've added the task check it out.
[Task](https://codein.withgoogle.com/dashboard/tasks/6368232177401856/)

[2019-12-16 13:33] mohit-003 commented on #95
Can I make a PR now and take the task later? because I have already taken another task.

[2019-12-16 13:41] sal2701 commented on #95
You can do it but claim it before someone else does. I can't stop someone else from claiming the task. If someone claims it before you I will have to consider their contributions before you, this is what GCI demands I really can't do much in this regard :slightly_smiling_face:

[2019-12-16 17:34] fluctix commented on #78
Can I work on this issue?

[2019-12-17 04:30] tachyons commented on #78
Sure

[2019-12-18 12:32] fluctix commented on #78
So I had made the gitpod.yml file.and gitpod dockerfile but it turns out while serving it due to a Jekyll configuration , it obtains the css files , images etc (which have absolute paths) over http so there is a mixed content error and as a result there is no styling in the website.
@sakshi1499 @tachyons can you please help me with this?

[2019-12-22 05:59] sakshi1499 opened #142 "Flip flop State Table gives wrong results"
The flip flop State Generator Table gives undefined on all sets of outputs. This should be taken care of and corrected.
Steps to reproduce:
1. Go to the interactive book page and click Flip Flop interaction.
2. Click on the type of flip flop and enter the inputs and outputs you desire.
3. Once you confirm for he state table, the state table shown below will appear. The output result should however

[2019-12-22 14:51] JoshHeng commented on #40
Task claimed

[2019-12-22 15:23] JoshHeng commented on #40
Does the contributers page need to be live?

If so, how should we do it?
- CircuitVerse itself uses [Open Collective](https://opencollective.com/) to show contributers, however that is mainly a donation platform and we would need to set up a new account for the Interactive Book (which would need to be done by an admin)
[Preview](https://opencollective.com/CircuitVerse/contributors.svg?width=890&bu

[2019-12-22 15:24] JoshHeng commented on #40
Or we could just provide a page for contributors to manually add themselves to

[2019-12-22 16:40] fluctix commented on #40
I would prefer the second option ,

[2019-12-22 19:03] GITHUBUSR01 commented on #57
Done:
![Screen Shot 2019-12-22 at 11 02 50 AM](https://user-images.githubusercontent.com/42304949/71326067-a33dd480-24aa-11ea-8be5-12f1218828df.png)

[2019-12-23 03:11] deepak2431 commented on #57
@GITHUBUSR01 I can see on GCI dashboard that you have abandoned this task. Please claim the task and open a PR for it so that I can review your work.
Thanks!

[2019-12-23 13:07] nrs1729 opened #150 "Inconsistent Font and Button Text"
## What is the issue

The text in the bottom right corner is different e.g. "CircuitVerse on Github" here
https://learn.circuitverse.org/docs/kmapi.html
![image](https://user-images.githubusercontent.com/51863168/71359524-95f51880-2584-11ea-871c-0c6fb9f00ed7.png)
and "Edit on Github" here
https://learn.circuitverse.org/docs/bool.html
![image](https://user-images.githubusercontent.com/51863168/7135

[2019-12-23 13:19] nrs1729 opened #151 "Improve Sidebar Button"
Currently the button moves when the sidebar collapses/opens, and for subsections it overlaps with the text.
![image](https://user-images.githubusercontent.com/51863168/71360130-b0c88c80-2586-11ea-9fd8-d111f01d54dd.png)

## Solution:
Change the button to something link this
![image](https://user-images.githubusercontent.com/51863168/71360151-c8077a00-2586-11ea-9580-8ece16be733a.png)
![image](https:

[2019-12-23 13:22] JoshHeng commented on #91
What links are we referring to?
- The top, horizontal blue navigation bar
- The left navigation list
- The right page contents navigation list
- Various inline links

[2019-12-23 13:23] JoshHeng commented on #91
Or is this the shareable link that appears when a header is hovered over?

[2019-12-25 20:02] #40 closed

[2019-12-28 15:51] NumberC opened #158 "Mobile Sidebar Button"

[2019-12-28 16:08] #158 closed

[2019-12-28 19:15] NumberC opened #161 "Incorrect NOR and XOR Descriptions"
In the logic gates section, the NOR and XOR gates are a complete copy of the NAND gate. The XOR and NOR gates have the correct CircuitVerse example and truth tables, but their descriptions are an exact copy and paste of the NAND description.

![NAND](https://user-images.githubusercontent.com/47584014/71548428-de914500-297b-11ea-88bc-d79fd5531986.PNG)
![NOR](https://user-images.githubusercontent.co

[2019-12-29 10:34] satyamroy001 commented on #32
i will do that, do i have to make circuit of mux and demux

[2019-12-29 11:44] deepak2431 commented on #32
@satyamroy001 No you don't need to make circuit for MUX and DEMUX.

[2019-12-29 17:01] vedangj044 opened #163 "Clipboard not visible in dark mode"
`Clipboard` div in https://learn.circuitverse.org/docs/gatesi.html
has a `1px dotted black` border, which is great but is not visible in dark mode.
![Selection_018](https://user-images.githubusercontent.com/43697446/71560039-b7756900-2a8a-11ea-9542-c1746a75de88.png)
![Selection_019](https://user-images.githubusercontent.com/43697446/71560042-be9c7700-2a8a-11ea-9dfc-04af388e0545.png)

**Are you wor

[2019-12-30 10:56] vedangj044 opened #166 "Wrong cursor in binary div"
In https://learn.circuitverse.org/docs/binary.html
and https://learn.circuitverse.org/docs/binary2.html
in the binary demonstration section, the `binary` div has no special pointer, which leads to confusion that whether the same are interact-able or not.
![image](https://user-images.githubusercontent.com/43697446/71579035-a9722780-2b20-11ea-9420-06548e7ea12f.png)

**Are you working on this?**
YES

[2020-01-01 17:48] JoshHeng opened #168 "Implement a pop quiz section after the content of each page"
A small, javascript pop quiz could be added at the end of each page to reinforce the content covered.
This would probably be around ten (or less) multi choice or true/false questions, which would reveal the answer immediately when they are answered. The answer would not be saved.

A system should be made where any developer can define questions and answers in a simple format (e.g. in markdown), wh

[2020-01-01 18:10] nrs1729 opened #169 "Create Issue and PR Templates"
### Are you working on this?
Yes

[2020-01-02 12:13] JoshHeng opened #171 "Remove Disqus from website"
I don't see the point of having Disqus on an educational, static website.

Why would users need to comment or offer their thoughts? If they needed help, they would be better joining us on Slack or Discord where we are all active, instead of leaving a comment that everyone could see.

Having comments enabled could also discourage educational institutions from using our website, for example. This ma

[2020-01-03 10:16] #166 closed

[2020-01-03 11:10] vedangj044 commented on #163
Solved this in #167 megred

[2020-01-03 11:10] #163 closed

[2020-01-03 17:45] jainpawan21 commented on #171
@JoshHeng Having disqus on every page gives freedom to every user to give their feedback about content of the that page. If they want to add something they can add.
If we take offensive and inappropriate comments, site moderators can delete those comments.

[2020-01-03 17:53] jainpawan21 commented on #151
This issue is only with subcategory of https://learn.circuitverse.org/docs/combinational

[2020-01-04 14:16] ericsheng495 commented on #142
Hi, for this issue can I just add a more informative instruction on user input rather than fixing the code itself(fixing the html). It seems that the problem with undefined results is due to invalid userinput on flip flop input and output function. If there is something better than I can do, please tell me.

[2020-01-04 15:19] ShreyaPrasad1209 commented on #171
@JoshHeng can you please close this issue?

[2020-01-04 15:20] ShreyaPrasad1209 commented on #169
@nrs1729 if you want to create an issue you can do it like you created this one. If you had something else in mind then can you elaborate?

[2020-01-04 15:22] JoshHeng commented on #171
Issue closed, will keep commenting feature

[2020-01-04 15:22] #171 closed

[2020-01-04 15:33] sakshi1499 commented on #142
Yes @ericsheng495, I'll explain everything to you in a minute

[2020-01-04 15:39] ShreyaPrasad1209 commented on #150
They look consistent to me @nrs1729. What do you think @satu0king @tachyons @ankitkataria ?

[2020-01-04 15:42] ShreyaPrasad1209 commented on #135
Are you talking about the bullet points in the sidebar? They seem fine to me.

[2020-01-04 15:43] ShreyaPrasad1209 commented on #133
@mohit-003 sure

[2020-01-04 15:47] sakshi1499 commented on #142
So see T flip flop is basically a JK flip flop where both the inputs are the same. That is why in the above picture we only have TA because both the inputs are same. So when the input is 0 your next state is your present state and when it is 1 your next state is the negation of the present state. So in case of A and y when both the inputs are different i.e 0 and 1 or vice versa, it should be undef

[2020-01-04 15:47] Ananthavijay commented on #135
@ShreyaPrasad1209 I noticed that the bullet point of home vanishes in interactive fsm

[2020-01-04 15:49] ShreyaPrasad1209 commented on #135
You mean after clicking sidebar button?

[2020-01-04 15:56] sakshi1499 commented on #142
Heyyy I found something that can help you. Look at this picture
![ff](https://user-images.githubusercontent.com/42520146/71768048-c485d280-2f38-11ea-9ca8-4ee20d7a2654.PNG)

Just in the last row it should be negated present state

[2020-01-04 16:12] mohit-003 commented on #133
Already done 👍😁

[2020-01-04 16:15] Ananthavijay commented on #135
@ShreyaPrasad1209  My bad. It's before clicking the sidebar

[2020-01-04 16:28] tachyons commented on #150
@nitin10s

[2020-01-04 20:16] nitin10s commented on #150
They are inconsistent indeed, the button text should be: Edit this page
The new UX used Open Sans, but the current Interactive Book uses Helvetica.
I'll say, use Helvetica for now, we'll change the typeface later after the completion of new UX accordingly

[2020-01-04 20:30] nitin10s commented on #150
@ShreyaPrasad1209 This would be a good task for GCI. Please add. I could co-mentor.

[2020-01-05 02:52] ericsheng495 commented on #142
<img width="691" alt="Screen Shot 2020-01-05 at 10 46 42 AM" src="https://user-images.githubusercontent.com/44331935/71774411-2a11a780-2fa9-11ea-93f6-1576ee2f8b0a.png">
<img width="919" alt="Screen Shot 2020-01-05 at 10 47 11 AM" src="https://user-images.githubusercontent.com/44331935/71774412-2da52e80-2fa9-11ea-8189-6f93beb817d1.png">
<img width="791" alt="Screen Shot 2020-01-05 at 10 47 24 AM" s

[2020-01-05 04:56] sakshi1499 commented on #142
Firstly, is this what you got in your development environment? Because when I am actually accessing the original website link the following comes.

![Screenshot (1)](https://user-images.githubusercontent.com/42520146/71775361-ca65cd00-2fa5-11ea-938f-dfb796e3f7eb.png)
![Screenshot (2)](https://user-images.githubusercontent.com/42520146/71775363-cf2a8100-2fa5-11ea-8913-25e9c5f68afd.png)

[2020-01-05 05:04] sakshi1499 commented on #142
Secondly, your step 2 doesn't really make sense A+y?? Why did you use the addition/OR operator here?

[2020-01-05 05:18] sakshi1499 commented on #142
Thirdly, you look at the truth table you just sent, the output is 0 and 1 when the input is 1. How is that correct? Like look at the truth table I sent when Ta gets 1 as an input it should give the negation of previous state, but in second row the previous output was 0 so it should be 1 in second row.

[2020-01-05 17:36] #133 closed

[2020-01-06 15:49] nrs1729 commented on #169
The other repositories have templates for what you're supposed to put in the issues as guidelines (like this https://github.com/CircuitVerse/CircuitVerse/blob/master/.github/ISSUE_TEMPLATE/bug_report.md) that come up when you create an issue/PR, I meant adding them for this repo as well.

[2020-01-06 16:33] Shivansh2407 commented on #151
Can I work on this issue ?

[2020-01-08 17:53] Ananthavijay commented on #80
Can I take up this issue?

[2020-01-08 18:19] aayush-05 commented on #80
I am not very sure if we are opening the content portion for GCI.
@tachyons can tell this better.

[2020-01-08 18:21] eKuG commented on #80
Let me make this a task in CGI. Dont take up the task without me adding it first. @Ananthavijay
@aayush-05 you can make content tasks.

[2020-01-08 18:24] Ananthavijay commented on #80
Oh thanks @eKuG

[2020-01-08 22:03] JoshHeng commented on #80
@eKuG If we're all going to be going through the contents and updating it, it might be worth merging PRs first. Currently many PRs are approved but still unmerged.

Some content might already be changed, and this could also create merge conflicts

[2020-01-08 23:38] Ananthavijay commented on #142
@sakshi1499 Am I going the right way?
I guess I have made T flipflop work, please check this
![Screenshot (160)](https://user-images.githubusercontent.com/35162705/72025344-d4d1e080-329d-11ea-9cf4-56a80c42d57c.png)
![Screenshot (161)](https://user-images.githubusercontent.com/35162705/72025347-d6030d80-329d-11ea-878f-00aa1edf2696.png)
![Screenshot (162)](https://user-images.githubusercontent.com/3

[2020-01-09 19:40] aayush-05 commented on #169
PRs have been already made to fix this, they will be merged shortly.
You can close this issue @nrs1729

[2020-01-09 19:55] aayush-05 commented on #135
Actuallly it seems that the bullet point in front of Home in the sidebar disappears on the FSM page, on other pages it is visible. @ShreyaPrasad1209
Can we have this as a GCI task @tachyons ?

[2020-01-10 18:33] nrs1729 commented on #169
Okay cool

[2020-01-10 18:33] #169 closed

[2020-01-11 17:26] sal2701 commented on #135
Sorry for the confusion, please give the screenshots a look

### In Google Chrome
![Screenshot (5)](https://user-images.githubusercontent.com/42511766/72208131-55265a80-34c5-11ea-8d51-572b553b81ba.png)

### In Mozilla Firefox
#### Happens after clicking the sidebar button twice
![Screenshot (6)](https://user-images.githubusercontent.com/42511766/72208134-61121c80-34c5-11ea-8fb4-cb22aabcfcd3.png)

[2020-01-11 18:14] aayush-05 commented on #135
In my case, the bullet point just disappears.
![image](https://user-images.githubusercontent.com/47032027/72208722-42fbea80-34cc-11ea-8ff2-b48b0e3f0b7c.png)

[2020-01-11 18:16] Ananthavijay commented on #135
@aayush-05 You must be using Google chrome. See the screenshot sent by @sal2701. It includes both Google Chrome and Firefox

[2020-01-11 18:34] aayush-05 commented on #135
Oh, yeah !
Sorry, I overlooked the Google Chrome screenshot.

[2020-01-14 11:11] vedangj044 opened #196 "Overlapping 'Sidebar' button and 'breadcrumb-nav'"
In https://learn.circuitverse.org/docs/Combinational/half_adder.html
and all the 'child' pages of `Combinational Circuits`  the `Sidebar` toggle switch and the `Breadcrumb-nav` used to navigate are overlapping.

![Selection_024](https://user-images.githubusercontent.com/43697446/72339631-9d739180-36ec-11ea-8d36-c1bf5d6dd6aa.png)

**Are you working on it ?**
YES

[2020-01-15 13:10] yash-kedia opened #199 "Heading not visible in dark theme"
On this page the color of the heading is black but instead it should be white just like other pages.

https://learn.circuitverse.org/docs/bool2.html

Before:
![image](https://user-images.githubusercontent.com/39669117/72436326-2ca0a800-37c6-11ea-9f4f-d40f39007c29.png)

After:
![image](https://user-images.githubusercontent.com/39669117/72436432-62de2780-37c6-11ea-84b9-4809d74d8fc7.png)

Working on

[2020-01-15 14:53] #199 closed

[2020-01-18 13:43] Parikshit-Hooda commented on #168
An alternative implementation of this could be :
- Provide a button to open the quiz.

This approach will consider if the user actually wants to take the quiz or not.
@JoshHeng what do you think?

[2020-01-18 13:45] JoshHeng commented on #168
I don’t think a button is needed as it is at the end of the page anyway and is not needed to be taken if the user doesn’t want to

[2020-01-18 13:46] JoshHeng commented on #168
And if you see the way I implemented it, it is easier for users to take it if it’s on the same page anyway (instead of having to open a new page for each quiz)

[2020-01-18 17:26] #161 closed

[2020-01-19 05:55] ericsheng495 commented on #41
Question, do we have to make a pull request and integrate the stuff to the website or can we just write it in a google doc?

[2020-01-19 05:56] Ananthavijay commented on #41
@ericsheng495 you should add it in the interactive book, so you should make a PR

[2020-01-20 06:06] #7 closed

[2020-01-20 07:39] ericsheng495 commented on #30
https://docs.google.com/document/d/1YEHii5TEDmni2g8H2LBDrISY0iYtgBDmIIawK0n-f-c/edit?usp=sharing

[2020-01-20 10:29] Ananthavijay commented on #30
@ericsheng495 Please add this in the interactive-Book.

[2020-01-20 14:05] SamriddhiMishra commented on #6
Can I correct the typo in line 67 of binary.md file?

[2020-01-25 15:41] mohit-003 opened #223 "The Interactive Karnaugh Map uses k-map layout it can have a default layout."
By setting the Interactive Karnaugh Map page to default layout it will fix some issues like, the page doesn't have a button to toggle the side-bar.
![image](https://user-images.githubusercontent.com/58560983/73123531-16a99900-3fb7-11ea-9b1f-917dfae8b753.png)

[2020-01-26 16:06] Ananthavijay opened #225 "Flip-flop Interaction (Discussion)"
While doing the _Elaborate Flip-flop Interaction_ and _Fix Flip-flop state table_ tasks I did a lot of research about flip-flops and came to know that there is only one set of input, output equations which are correct.
#### Currently
The flip-flop interaction lets the user enter the input and output equations, with which a state table is generated. If the equations are wrong it results undefined.

[2020-01-26 18:27] GrayR00t commented on #115
Is anybody is working on this ?
If not I would like to work

[2020-01-27 01:33] #6 closed

[2020-01-27 09:32] GrayR00t commented on #225
I would like to work this issue

[2020-01-27 10:26] Ananthavijay commented on #225
@GrayR00t Let everyone give their views on this one

[2020-01-28 17:37] SamriddhiMishra commented on #135
@sal2701 Can you please tell the version of the Mozilla Firefox you are using?

[2020-01-31 09:38] Shivansh2407 commented on #150
Can I work on this @nrs1729 , @ShreyaPrasad1209

[2020-02-01 09:37] NamanZelawat commented on #37
@dev9414 I am Naman Zelawat, can I work on it. I am a new contributor and want some basic issues to contribute.

[2020-02-01 09:51] Ananthavijay commented on #37
@NamanZelawat It seems that this issue has already been fixed in this [Pull Request](https://github.com/CircuitVerse/Interactive-Book/pull/222)

[2020-02-01 10:00] NamanZelawat commented on #37
But there was no change in the official site so I thought maybe It was not fixed.

[2020-02-01 10:02] NamanZelawat commented on #37
Thanks for your response @dev9414 have a good day :).

[2020-02-01 10:13] NamanZelawat commented on #37
@Ananthavijay I can't see any changes in the master branch also shall I generate my pull request or not.

[2020-02-02 15:13] #196 closed

[2020-02-06 05:27] #135 closed

[2020-02-14 16:09] aayush-05 commented on #75
@satu0king I checked with Staticman, it's good but the problem is it pushes data on every comment made on the website as a commit on Github. Won't it mess up the whole commit history of the repo ?

[2020-02-15 07:39] Ananthavijay opened #229 "No movement of breadcrum-nav when sidebar button is clicked"
## Screenshots

![SR Flip-Flop - CircuitVerse](https://user-images.githubusercontent.com/35162705/74584085-49faa900-4ff4-11ea-9d69-9c3966b7028d.gif)

## Are you working on the issue?
Yes

[2020-02-17 12:53] #62 closed

[2020-02-18 01:13] #41 closed

[2020-02-18 04:25] SamriddhiMishra commented on #20
Can I work on this?

[2020-02-18 06:09] ShreyaPrasad1209 commented on #20
Sure

[2020-02-18 12:41] #59 closed

[2020-02-19 07:16] #30 closed

[2020-02-19 07:17] #55 closed

[2020-02-19 07:35] Ananthavijay opened #231 "Disqus missing on Race around Condition page"
Disqus is missing on **Race around Condition** page
https://learn.circuitverse.org/docs/jk_race_around_condition.html

[2020-02-19 07:37] Ananthavijay commented on #231
This issue was caused by merging these 2 PR's : https://github.com/CircuitVerse/Interactive-Book/pull/219 and https://github.com/CircuitVerse/Interactive-Book/pull/217 . @aayush-05 @sakshi1499 Which PR should be removed?

[2020-02-20 10:21] SamriddhiMishra opened #232 "Operator not visible in dark mode."
The AND operator is not visible in Dark Mode
https://learn.circuitverse.org/docs/binary2.html

![pic](https://user-images.githubusercontent.com/43378325/74924547-bad90100-53f8-11ea-8cd6-72b9711fa3aa.jpg)

[2020-02-20 15:33] aayush-05 commented on #12
@tachyons this can be closed now.

[2020-02-20 15:34] aayush-05 commented on #52
@tachyons can be closed now

[2020-02-20 19:43] Ananthavijay opened #236 "Issue with Sidebar button in some pages"
- [x] [Interactive Karnaugh Map](https://learn.circuitverse.org/docs/kmapi.html) - Doesn't have a sidebar button.
- [ ] [Half Adder](https://learn.circuitverse.org/docs/Combinational/half_adder.html) - Doesn't have the icon in sidebar button.

[2020-02-21 07:27] yash15601 commented on #236
@Ananthavijay can i work on this??

[2020-02-21 07:51] Ananthavijay commented on #236
Sure @yash15601

[2020-02-24 03:35] #35 closed

[2020-02-24 03:35] #27 closed

[2020-02-24 03:36] #232 closed

[2020-02-24 03:36] #229 closed

[2020-02-24 03:36] #52 closed

[2020-02-29 17:30] Batey96 opened #240 "TextContent on Dark Mode button remains unchanged after switching to dark theme"
Current Problem:
the text on the Dark Mode button doesnot change after toggling the page into dark theme.
This is a poor UI experience for users as shown below
![Screenshot from 2020-02-29 13-46-15](https://user-images.githubusercontent.com/24868289/75607689-13478700-5afa-11ea-9641-b22b031df68d.png)
Proposed Solution:
the Text on the Dark Mode button should change after toggling the page into dark

[2020-02-29 17:36] Batey96 commented on #240
my PR is ready to be submitted.Just waiting for @stakeholders to consider this as a valid issue

[2020-03-02 12:50] Ananthavijay commented on #225
This issue will be followed in this [PR](https://github.com/CircuitVerse/Interactive-Book/pull/181) so closing this

[2020-03-02 12:50] #225 closed

[2020-03-07 01:19] mahmodHammad opened #242 "alignment issue issue with the Operator in Binary part"
At /docs/binary2.html  the operator section looks like this :
![image](https://user-images.githubusercontent.com/41790090/76133738-4fab4380-6022-11ea-98dd-ff69ee647342.png)

are you working on it ?
- YES

[2020-03-07 01:28] #231 closed

[2020-03-07 03:08] mahmodHammad commented on #242
https://github.com/CircuitVerse/Interactive-Book/pull/243

[2020-03-14 03:40] ShubhankarKG opened #244 "Dark mode anchor tag does not update on css transitions."
![Screenshot from 2020-03-14 09-08-08](https://user-images.githubusercontent.com/50791000/76674284-988b6b00-65d3-11ea-9f26-639f82c2c764.png)
![Screenshot from 2020-03-14 09-08-05](https://user-images.githubusercontent.com/50791000/76674285-9cb78880-65d3-11ea-9731-3d2578254d2c.png)

[2020-03-15 19:07] pranavmodx commented on #78
@thiefie Are you still working on it? If not, I can take it up.

[2020-03-15 19:36] pranavmodx opened #246 "Search text is not visible in Dark Mode"
![Screenshot 2020-03-16 at 1 03 56 AM](https://user-images.githubusercontent.com/42793024/76709131-207f8b00-6722-11ea-838c-e02b0c571ac2.png)
![Screenshot 2020-03-16 at 1 04 15 AM](https://user-images.githubusercontent.com/42793024/76709132-21b0b800-6722-11ea-9eb7-f76ca182eea0.png)

Solution : Add conditionals and change text color according to mode selected.

I am working on this issue.

[2020-03-16 02:59] ShubhankarKG opened #248 "Redundant hyperlinks"
![Screenshot from 2020-03-16 08-08-21](https://user-images.githubusercontent.com/50791000/76719570-285e2000-6760-11ea-878d-20c68f513e8c.png)

The top left CircuitVerse icon redirects to same page instead of going to CircuitVerse's official page.

[2020-03-16 03:48] pranavmodx commented on #93
Please close the issue if it's solved.

[2020-03-16 17:39] kakubotics commented on #246
Is it working now? @pranavmodx

[2020-03-16 18:03] pranavmodx commented on #246
Yes, I've made a PR which will solve this issue.

[2020-03-16 18:21] kakubotics commented on #248
Let me give a chance to make it work @ShubhankarKG

[2020-03-17 02:56] ShubhankarKG commented on #248
Well the PR was already submitted back then. Pull #249 does the same task.

[2020-03-17 03:06] kakubotics commented on #248
Well it was still open so i did

[2020-03-17 03:34] kakubotics commented on #86
hi @sgpritam I am taking this feature request...

[2020-03-17 06:19] ShubhankarKG commented on #248
Could have had a look at least before opening a PR.

[2020-03-17 13:36] kakubotics commented on #86
Hi @sgpritam, I have made this feature request happen and it's working pretty well.
I have made two new pages for the difference between SR-JK flip-flop and D-T flip-flop.
I believe the issue is resolved now!
![Screenshot from 2020-03-17 11-02-17](https://user-images.githubusercontent.com/22686059/76861194-34da9980-6882-11ea-9985-5222f233c085.png)
![Screenshot from 2020-03-17 11-01-56](https://use

[2020-03-17 14:35] #93 closed

[2020-03-17 14:36] #12 closed

[2020-03-17 16:07] kakubotics opened #251 "Incorrect data at JK flip flop, JK in place of SR"
![WhatsApp Image 2020-03-17 at 9 36 44 PM](https://user-images.githubusercontent.com/22686059/76876127-7fb2dc00-6897-11ea-91f8-278cb7273c43.jpeg)

[2020-03-17 16:13] kakubotics commented on #251
I have corrected the JK flip flop incorrect data.Now it is correct.

[2020-03-17 16:13] #251 closed

[2020-03-27 14:33] nitin10s opened #253 "Still old logo in Interactive Book"
The interactive book still has the old logo as favicon

[2020-03-27 14:34] Nitish145 commented on #253
Can i work on it ?

[2020-03-27 15:35] nitin10s commented on #253
Sure

[2020-03-30 15:08] ShubhankarKG commented on #253
Are you working on it @Nitish145 ?

[2020-03-30 15:29] Nitish145 commented on #253
Already fired a PR for the same..

[2020-03-30 15:44] ShubhankarKG commented on #253
Cool, I didn't notice a link here. Good work !

[2020-03-31 16:17] nitin10s opened #255 "Irregularity in the design"
The "previous" and "next" links have different opacities apparently for no reason. They should have the same opacity level and design.

![image (6)](https://user-images.githubusercontent.com/16988558/78049623-e7d5e780-7398-11ea-8ebf-6053c0c9246c.png)

[2020-03-31 16:19] Nitish145 commented on #255
Can i take up this issue ?

[2020-03-31 16:58] Ananthavijay commented on #255
I think it should have different opacities. Because previous might be read. And this issue is in CorcuitVerse Docs

[2020-04-13 22:01] Ananthavijay opened #256 "Truth table section in Boolean functions page is broken"
### Screenshot:
![Screenshot (571)](https://user-images.githubusercontent.com/35162705/79165305-6f434200-7e00-11ea-8f7c-0afbcc587d1a.png)

https://learn.circuitverse.org/docs/bool2.html

**Are you working on this issue?**
Yes

[2020-04-14 05:02] #256 closed

[2020-04-14 23:56] ericsheng495 opened #260 "Flip-Flops missing discussion section"
<img width="833" alt="image" src="https://user-images.githubusercontent.com/44331935/79284865-bf59ed00-7e70-11ea-86fb-5668b1696d14.png">

[2020-05-05 04:01] coding-CEO opened #261 "Top bar disappears on PC"
How to reproduce the issue :

**1) Go to the home page.**

![NPAVScSt](https://user-images.githubusercontent.com/52625909/81033921-fee58900-8eb2-11ea-80c0-53934f4152b5.jpg)

**2) Close the sidebar**

![NPAVScSt (2)](https://user-images.githubusercontent.com/52625909/81033926-02791000-8eb3-11ea-8db4-d34223bf9563.jpg)

**3) reduce the width of browser.**

![NPAVScSt (3)](https://user-images.githubus

[2020-05-05 06:35] coding-CEO commented on #242
I fixed this issue in #262

[2020-05-05 08:45] coding-CEO commented on #261
I fixed this problem in the PR #263
So, please review it.

[2020-05-05 11:31] coding-CEO commented on #71
I solved this problem in PR #264
Please Review.

[2020-05-06 19:41] surajsly opened #266 "Sticky Navigation bar not disappear on Learn and Documentation page."
The sticky Navigation bar does not disappear on Learn and Documentation page. Which Make it difficult to navigate through these pages and go to other pages. which will result in time waste and **bad User experience** on the Website.

[https://learn.circuitverse.org/](https://learn.circuitverse.org/)

[https://docs.circuitverse.org/#/](https://docs.circuitverse.org/#/)

**I would like to modify the

[2020-05-12 16:32] aayush-05 commented on #2
@satu0king is the Google Analytics part done ? If yes, then we can close this issue

[2020-05-12 16:44] aayush-05 commented on #8
@tachyons @nitin10s this can be closed, PR merged

[2020-05-12 16:45] aayush-05 commented on #19
@tachyons @nitin10s this can be closed, issue resolved under new UI

[2020-05-12 16:46] aayush-05 commented on #20
@tachyons @nitin10s this can be closed, platform has been revamped

[2020-05-12 17:13] #20 closed

[2020-05-12 17:14] #19 closed

[2020-05-12 17:17] nitin10s commented on #8
Closed via #18

[2020-05-12 17:17] #8 closed

[2020-05-13 06:18] aayush-05 commented on #29
@tachyons @nitin10s this can be closed, invalid issue (https://github.com/CircuitVerse/Interactive-Book/pull/125#issuecomment-569616060)

[2020-05-13 06:35] aayush-05 commented on #57
@tachyons @nitin10s invalid issue, we can't access disqus internal files

[2020-05-13 06:37] #60 closed

[2020-05-13 06:40] #69 closed

[2020-05-13 06:40] #70 closed

[2020-05-13 06:41] #72 closed

[2020-05-13 06:48] aayush-05 commented on #74
@tachyons @nitin10s this can be closed, PR already merged

[2020-05-13 06:50] aayush-05 commented on #76
@tachyons @nitin10s this can be fixed, PR already merged

[2020-05-13 06:52] aayush-05 commented on #75
@tachyons @nitin10s can we close this one, no access to disqus internal files

[2020-05-13 07:31] #75 closed

[2020-05-13 07:32] nitin10s commented on #74
Fixed in #77

[2020-05-13 07:32] #74 closed

[2020-05-13 07:32] nitin10s commented on #57
@aayush-05 we need to something fo this, lots of issues with  Disqus :|

[2020-05-13 07:39] #29 closed

[2020-05-13 07:43] aayush-05 commented on #244
Duplicate issue, already opened at #240

[2020-05-13 08:00] aayush-05 commented on #266
Would you please explain it a little bit, I am unable to get the bug ?

[2020-05-13 09:10] #113 closed

[2020-05-14 04:20] omar-3 opened #270 "GSoD ideas for the book"
Hi I already introduced myself on slack, so here is my two cents about what I'm supposed to do on GSoC, **need follow up from you guys** :)

About the project, point one and point two of the deliverables are clear. About point three and the addition of new content, I was thinking about adding sections about the following:

1. Microarchitecture which includes an explanation for Single-Cycle Process

[2020-05-14 11:11] surajsly commented on #266
yes the main problem is you can not go back to main website one you click on the LEARN tab on main website, there is no way to go back to the main website.

[2020-05-14 13:13] #71 closed

[2020-05-14 13:14] #242 closed

[2020-05-14 14:40] YashKumarVerma opened #273 "Unwanted files across repository"
There are some `.DS_STORE` files in many directories, which need to be removed.

- [ ] https://github.com/CircuitVerse/Interactive-Book/blob/master/_includes/.DS_Store
- [ ] https://github.com/CircuitVerse/Interactive-Book/blob/master/assets/.DS_Store
- [ ] https://github.com/CircuitVerse/Interactive-Book/blob/master/assets/images/.DS_Store
- [ ] https://github.com/CircuitVerse/Interactive-Book/bl

[2020-05-14 14:51] #253 closed

[2020-05-14 14:52] YashKumarVerma commented on #253
Good work @Nitish145

[2020-05-15 01:55] YashKumarVerma commented on #266
Hello there @surajsly
I was trying to reproduce the bug but was unable to do so, could you please help? What exactly is the error you want to mention?
Maybe adding an image showing the expected or actual version might help

![image](https://user-images.githubusercontent.com/14032427/82003081-1542d000-967d-11ea-8df5-158cefeb9ecb.png)

from the part which I could understand:
- I was able to easily n

[2020-05-15 02:31] #248 closed

[2020-05-15 03:03] ShubhankarKG commented on #273
I'd like to take this one up.

[2020-05-15 03:33] YashKumarVerma commented on #273
sure @ShubhankarKG

[2020-05-15 03:43] ShubhankarKG commented on #273
It seems to me that the VSCode or any other preferred IDE has an internal configuration of not showing certain files, for example __.git__ and __.DS_Store__. That could have been a reason why the files were present but were not excluded as such.

[2020-05-15 04:07] #273 closed

[2020-05-15 05:35] ShubhankarKG commented on #244
Closing this since the PR is already merged.

[2020-05-15 05:35] #244 closed

[2020-05-15 07:39] YashKumarVerma commented on #151
![image](https://user-images.githubusercontent.com/14032427/82024370-52bf5180-96ad-11ea-9bdd-9464ea501a84.png)

I think this issue is fixed.
What do you think @Shivansh2407

[2020-05-15 07:42] Shivansh2407 commented on #151
Yes @YashKumarVerma it is fixed .

[2020-05-15 07:50] #151 closed

[2020-05-15 08:03] coding-CEO commented on #266
I think @surajsly is trying to say that,
from https://learn.circuitverse.org/ you can go to https://circuitverse.org/
but,
from https://docs.circuitverse.org/#/ you Can Not go to https://circuitverse.org/

[2020-05-15 08:13] YashKumarVerma commented on #266
the title says "Sticky Navigation bar not disappear on Learn and Documentation page."

Either the title is inappropriate or the body.
However, since @coding-CEO 's suggestion is apt, can you please open an issue in the respective repository?

[2020-05-15 08:15] coding-CEO opened #278 "Navigation issue between Official Page and documentation page"
Issue is,
from https://learn.circuitverse.org/ you Can go to https://circuitverse.org/
but,
from https://docs.circuitverse.org/#/  There is no way to go to https://circuitverse.org/

I am working on this issue.

[2020-05-15 08:19] coding-CEO commented on #278
I forgot we cannot change code of documentation page. Sorry for posting this issue here.

[2020-05-15 08:19] #278 closed

[2020-05-15 08:32] YashKumarVerma commented on #78
@pranavmodx @criticic @sakshi1499
Is anyone of you working on this issue / would like to work on it ?

[2020-05-15 08:40] #91 closed

[2020-05-15 08:41] YashKumarVerma commented on #91
There is an issue here, both #152 and #155 provide the same functionality, links to sections.

But, since
#152
- has single commit
- has less files edited
- was opened before
- changes the cursor to a pointer

whereas in #155

- has multiple commits
- has more files edited
- was opened later
- changes the cursor to text type
- included jquery as a library

therefore keeping the conventions and goo

[2020-05-15 10:21] #94 closed

[2020-05-15 10:56] abhinavsri360 commented on #266
I don't think this is an issue we can always go back to https://circuitverse.org/ from https://docs.circuitverse.org/#/  by toggling on CircuitVerse present on the top-left corner. All we can do to make this notice is that make the heading on top-left more visible by either changing its color or simply making it bold. I think this resolves the issue.

[2020-05-15 11:01] #261 closed

[2020-05-15 11:03] abhinavsri360 commented on #261
I don't find the issue fixed, it still persists and the sidebar button vanishes on reducing the window size.

[2020-05-15 11:03] abhinavsri360 commented on #261
![image](https://user-images.githubusercontent.com/44001310/82043789-d2f3b000-96c9-11ea-89e1-c5d58c3be2b7.png)

[2020-05-15 11:26] YashKumarVerma commented on #266
![image](https://user-images.githubusercontent.com/14032427/82045574-f2d8a300-96cc-11ea-8791-a32f736d88bc.png)
the circuit verse documentation heading takes user to docs.circuitverse.org not circuitverse.org

[2020-05-15 12:07] coding-CEO commented on #61
This issue is still not solved.
Can I work on this issue ?

[2020-05-15 12:33] YashKumarVerma commented on #61
Sure @coding-CEO
make sure you take references from https://github.com/CircuitVerse/Interactive-Book/pull/68

[2020-05-15 12:36] #260 closed

[2020-05-15 12:43] coding-CEO commented on #242
The solution of issue is not there. I think the merge got revert somehow. I created another PR #279  to solve this issue.

[2020-05-15 12:48] coding-CEO commented on #61
Sure.

[2020-05-15 13:47] abhinavsri360 commented on #266
I thought the issue was related to the interactive-book repository. I think this issue is present ina the wrong repository. I am opening an issue in the Docs repository for the same.

[2020-05-15 15:04] abhinavsri360 commented on #80
I am on this as I prefer to apply for GSoD '20 in CircuitVerse. Also, I have already started my contribution and I can prepare organic content for the same. 🛩️

[2020-05-15 15:38] coding-CEO commented on #61
Solved this issue in #281 .
Please Review.

[2020-05-15 16:35] #39 closed

[2020-05-15 16:57] #115 closed

[2020-05-16 02:34] nisarhassan12 commented on #78
@sakshi1499 @tachyons can you please help me with this?

Hi! all Let me know if the above is still relevant.

[2020-05-16 03:21] YashKumarVerma commented on #78
quick reference, by the time this is not merged, y'all can use this chrome extension, it's good btw.

https://chrome.google.com/webstore/detail/gitpod-online-ide/dodmmooeoklaejobgleioelladacbeki

p.s., this is neither my extension nor have I contributed to it's contents.

[2020-05-16 03:27] coding-CEO opened #285 "Svg paths are not in accordance with Dark mode"
Svg paths are not changing color according to the dark mode.
Which is very bad for user Experiance
![as](https://user-images.githubusercontent.com/52625909/82109399-1f370280-9753-11ea-8018-26d8bc8bd87d.jpg)

**Are you working on this ?
Yes, I am working on this issue**

[2020-05-16 07:25] abhinavsri360 opened #290 "List items in BooleanAlgebra.md"
## Is your feature request related to a problem? Please describe.

No
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
The simulator present in the end which consists of the words 'AND', 'OR', 'XOR', and 'NOT' might not be a good option for presentation.
## Describe the solution you'd like

I propose to have a gate image along with its name present insid

[2020-05-16 11:21] nisarhassan12 commented on #78
@YashKumarVerma Thanks. Sorry I hope you already know that the extension would only add an "Open in Gitpod" button that helps start a workspace on every GitHub repo. Without the [config](https://www.gitpod.io/docs/config-gitpod-file/) `.gitpod.yml` Gitpod would do nothing other than cloning the repo.

While Gitpod can do a whole bunch of cool stuff that'll help contributors and maintainers greatly

[2020-05-16 11:55] YashKumarVerma commented on #78
Thank you for giving a detailed reply to the thread, this would be really helpful for those who needed more info on the context.

P.S. : the extension can never replace the original gitpod config, it's to only give you a fast network box to work on
![image](https://user-images.githubusercontent.com/14032427/82119186-14ec2700-979a-11ea-9e6d-e55757eebd97.png)

[2020-05-16 15:45] YashKumarVerma opened #294 "Too much extra space in the examples of Commutative and associative law"
There is too much extra space in the examples of Commutative and associative law which make one of the two examples kinda invisible in the mobile view. A solution could be that examples can be presented in different lines.
Please look into this.
@YashKumarVerma @Dishebh

_Originally posted by @abhinavsri360 in https://github.com/CircuitVerse/Interactive-Book/pull/288#issuecomment-629602633_

[2020-05-16 15:49] YashKumarVerma opened #295 "layout /about, /page, /post, /home all have same content"
So, I did a quick lookup and realized that the kmap.html and default.html are the same now. So they can be removed. Also, the four other pages,namely __about.html__, __home.html__, __page.html__ and __post.html__ have the same content. They can be converted into one page as well. Your thoughts @YashKumarVerma ?

_Originally posted by @ShubhankarKG in https://github.com/CircuitVerse/Interactive-Boo

[2020-05-17 03:14] coding-CEO commented on #285
This issue is solved in #293

[2020-05-17 03:17] coding-CEO commented on #294
Can I work on this ???

[2020-05-17 04:06] coding-CEO commented on #294
I fixed this issue in #296.
@YashKumarVerma  Please review.

[2020-05-17 15:39] tachyons commented on #78
@nisarhassan12 We already have such setup for circuitverse main repo

[2020-05-17 16:18] #295 closed

[2020-05-17 16:40] #294 closed

[2020-05-17 16:41] #285 closed

[2020-05-17 18:24] abhinavsri360 commented on #66
I am on this

[2020-05-17 19:54] abhinavsri360 opened #303 "Table of Contents"
## Describe the bug
Table of Contents not visible in the Boolean Algebra Page.
~~A clear and concise description of what the bug is.~~

## To Reproduce

~~Steps to reproduce the behavior:~~

1.  Go to '...'
2.  Click on '....'
3.  Scroll down to '....'
4.  See error

## ~~Expected behavior~~

~~A clear and concise description of what you expected to happen.~~

## Screenshots

If applicable, add sc

[2020-05-17 19:55] abhinavsri360 commented on #303
![image](https://user-images.githubusercontent.com/44001310/82158580-6da8e600-98a6-11ea-96de-2ad07b6d1466.png)

[2020-05-17 20:01] abhinavsri360 commented on #303
I have fixed this in the PR #304

[2020-05-17 22:56] nisarhassan12 commented on #78
Thanks! @tachyons @YashKumarVerma I have started working on it the setup is done but in the preview there is no styling. Once that's fixed I'll make a PR.

[2020-05-18 02:32] #66 closed

[2020-05-18 02:42] Shivansh2407 commented on #240
Fixed in #245

[2020-05-18 02:42] #240 closed

[2020-05-18 04:04] #31 closed

[2020-05-18 04:07] ShubhankarKG opened #305 "Typo in references page"
## Describe the bug

The reference page has a link named https://electronicsforu.com/resources/learn-electronics/flip-flop-rs-jk-t-dputting which is a typo error. This leads to a 404 on going to the site specified.

## To Reproduce

Steps to reproduce the behavior:

1.  Go to 'https://learn.circuitverse.org'
2.  Click on 'references'
3.  Scroll down to 'point 4'
4.  Click the link to see error.

#

[2020-05-18 04:10] Shivansh2407 commented on #305
Are you working with this issue @ShubhankarKG ?

[2020-05-18 04:12] ShubhankarKG commented on #305
Yes. Will send a PR soon

[2020-05-18 04:15] Shivansh2407 commented on #305
Sure. The correct Link is : https://www.electronicsforu.com/resources/learn-electronics/flip-flop-rs-jk-t-d

[2020-05-18 05:24] coding-CEO commented on #290
I am currently working on this issue. I will solve this very soon.

[2020-05-18 05:28] coding-CEO commented on #303
@YashKumarVerma please close this issue.

[2020-05-18 05:42] ShubhankarKG commented on #56
This is a good one open here. I can work on this. Please confirm @YashKumarVerma @Shivansh2407

[2020-05-18 06:38] coding-CEO commented on #290
I fixed this issue in #307
Review @YashKumarVerma @abhinavsri360

[2020-05-18 06:53] coding-CEO opened #308 "Text not visible in Dark mode"
Make the text visible in the dark mode.

![b](https://user-images.githubusercontent.com/52625909/82182516-0751b100-9902-11ea-906f-14a31138a536.jpg)
![a](https://user-images.githubusercontent.com/52625909/82182521-091b7480-9902-11ea-9157-637cf5b439f4.jpg)

### Are you Working on this Issue ??
**NO. Anyone can take and solve this issue.**

[2020-05-18 06:59] #303 closed

[2020-05-18 06:59] abhinavsri360 commented on #303
Closes via #304

[2020-05-18 07:08] abhinavsri360 opened #310 "Simulator invisible in mobile view"
## Describe the bug
The simulator present on the Boolean Algebra page is invisible for the mobile view.
A clear and concise description of what the bug is.

## To Reproduce
reproduced in #390

## Expected behavior
Should be visible on mobile view as well
A clear and concise description of what you expected to happen.

## Screenshots
![Screenshot_20200518-132052](https://user-images.githubuserconte

[2020-05-18 07:31] Shivansh2407 commented on #310
Please Mention the Link by writing out the steps to reproduce. Mention Where you are Working on this? Also Please Add a Screenshot if Possible.

[2020-05-18 07:53] abhinavsri360 commented on #310
Sure I'll take care of these measures by next time.
As of now I am I am not working on this, I have not figured out yet how to resolve this issue.
![Screenshot_20200518-132052](https://user-images.githubusercontent.com/44001310/82187868-aaa6c400-990a-11ea-940b-625bcbf986f6.png)

[2020-05-18 08:15] coding-CEO opened #311 "Alignment issue in Binary Numbers"
Binary numbers and the output should be in one line.

![NPAVScSt](https://user-images.githubusercontent.com/52625909/82189830-af20ac00-990d-11ea-9a00-2aef7105fb28.jpg)

Are you working on this issue ??
Yes, I am working on this issue.

[2020-05-18 08:34] coding-CEO commented on #311
Fixed this issue in #312

[2020-05-18 10:00] #311 closed

[2020-05-18 10:22] abhinavsri360 commented on #45
Resolved in #280

[2020-05-18 10:23] abhinavsri360 commented on #37
This issue is also resolved.
Close the same @YashKumarVerma

[2020-05-18 10:24] abhinavsri360 commented on #34
@YashKumarVerma 😅
Lot's of useless issues open

[2020-05-18 11:26] YashKumarVerma commented on #34
Useless as in ?
If you find any issue that must be closed, just drop a comment with mention

[2020-05-18 11:29] abhinavsri360 commented on #34
Ohh, I meant the same.
Please review and close this issue as this seems to be resolved, because search bar activates when clicked.
Thanks,
@YashKumarVerma

[2020-05-19 03:44] coding-CEO commented on #89
This issue is fixed in #319 .

[2020-05-19 04:21] #89 closed

[2020-05-19 05:10] coding-CEO commented on #5
@YashKumarVerma I think this issue can be closed.
We have templates for bug report and feature requests.

[2020-05-19 05:15] coding-CEO commented on #24
@YashKumarVerma I think this issue can be closed.
Because, there is no such issue in the current repo as described here.

[2020-05-19 05:23] #290 closed

[2020-05-19 05:44] coding-CEO commented on #45
@YashKumarVerma Close this issue.

[2020-05-19 05:46] coding-CEO commented on #61
@YashKumarVerma Close this issue.
This issue is resolved.

[2020-05-19 05:50] coding-CEO commented on #76
@YashKumarVerma This Issue can be closed.

[2020-05-19 05:52] coding-CEO commented on #88
This is not an issue in current repo.
@YashKumarVerma @Shivansh2407 This issue can be closed.

[2020-05-19 06:23] coding-CEO commented on #246
I solved this problem without changing the background color of search bar in #320 .

[2020-05-19 06:29] coding-CEO commented on #266
@YashKumarVerma @Shivansh2407 I think this issue can be closed.

[2020-05-19 07:10] coding-CEO opened #321 "Fix this text of table of content in Boolean Algebra"
Boolean Algebra Text :->
![2](https://user-images.githubusercontent.com/52625909/82295728-d0e16800-99cd-11ea-8b10-6b3ac3b9a874.jpg)

Other Page's Text :->
![1](https://user-images.githubusercontent.com/52625909/82295754-da6ad000-99cd-11ea-989c-e466464e0a21.jpg)

## Are you working on this issue ??
YES, I am.

[2020-05-19 07:17] coding-CEO commented on #321
fixed this issue in #322

[2020-05-19 07:24] coding-CEO opened #323 "Fix the complete search input field of Boolean Function"
In Boolean Function, the top search input has different font, different size.

Boolean Function :->
![NPAVScSt (3)](https://user-images.githubusercontent.com/52625909/82297081-c758ff80-99cf-11ea-858d-59d227386eff.jpg)

Others :->
![NPAVScSt (2)](https://user-images.githubusercontent.com/52625909/82297100-cd4ee080-99cf-11ea-8a53-11a0c9f4f9ef.jpg)

## Are you working on this issue ??
YES. I am.

[2020-05-19 07:36] #76 closed

[2020-05-19 07:37] coding-CEO commented on #323
Fixed this in #324 .

[2020-05-19 08:46] #114 closed

[2020-05-20 02:57] YashKumarVerma opened #328 "URLs in deploys are absolute"
## Describe the bug
absolute URLs don't link all pages of the deployed site

## To Reproduce
- Open deployed site.

## Expected behavior
The deployed site should have relative links

## Desktop (please complete the following information):
- deploy site issue

## Smartphone (please complete the following information):
- deploy site issue

[2020-05-20 02:58] #328 closed

[2020-05-20 03:31] #323 closed

[2020-05-20 03:34] #56 closed

[2020-05-20 03:51] #246 closed

[2020-05-20 03:56] #305 closed

[2020-05-20 11:19] schezfaz opened #329 "Redesign the side-nav bar to include sub-topics for every main topic present"
**Current Status:**
The side nav-bar can be improved upon by standardizing it at par with the side nav-bar at the [CircuitVerse Docs page](https://docs.circuitverse.org/). In a sense that, all sub-topics within a broad main-topic can be navigated to easily from the nav-bar itself (as in the case of the docs page).

For example, the [Gates page](https://learn.circuitverse.org/docs/gates.html). To a

[2020-05-20 11:22] YashKumarVerma commented on #329
are you working on it ?

[2020-05-20 11:25] schezfaz commented on #329
I would like to!

[2020-05-20 11:28] schezfaz commented on #329
not yet, but I would like to begin work on it once I complete working on [Issue #1439 ](https://github.com/CircuitVerse/CircuitVerse/issues/1439). Someone else can take it forward in the meantime, if not, I'll pick it up once I submit the PR for the above issue!

[2020-05-20 11:40] schezfaz opened #331 "Add Documentation for "NAND Gate Method" to simplify a boolean function"
**Current Status:**
The [Boolean Function Page](https://learn.circuitverse.org/docs/bool2.html) cites two possible ways in which one can simplify a boolean function. The first being the K-Map method and the second being the NAND Gate method.

![image](https://user-images.githubusercontent.com/28871211/82442210-d7024200-9abc-11ea-829c-eb7a1bb7688d.png)

Currently, there is documentation present for

[2020-05-20 11:41] schezfaz commented on #331
I would like to work on this!

[2020-05-20 15:26] #321 closed

[2020-05-21 06:52] ShubhankarKG commented on #223
This issue is resolved in #297 . @YashKumarVerma this can be closed.

[2020-05-21 07:22] #223 closed

[2020-05-21 07:22] YashKumarVerma commented on #223
Thanks, @ShubhankarKG @mohit-003

[2020-05-21 07:51] YashKumarVerma commented on #331
This can be helpful
- https://circuitverse.org/simulator/embed/42411

[2020-05-21 08:14] schezfaz commented on #80
Hi, I would like to work on this issue as well. Have compiled a status list (based on the PRs opened and mergerd) for all pages belonging to the interactive book:

- [x] Home
- [x] Binary numbers
- [x] Operators in binary numbers
- [x] Gates
- [x] Interactive gates
- [x] Universal gates
- [x] Basic applications
- [x] Boolean algebra
- [x] Boolean function
- [x] K-maps
- [x] Interactive k-map
- [x]

[2020-05-21 08:17] schezfaz commented on #331
thankyou!

[2020-05-21 09:04] YashKumarVerma commented on #80
# :checkered_flag:

in order to avoid collisions, just add a comment regarding the topic you are working on, for example if you want to work on SR Flipflop, clearly mention that you're working on `Flipflops/SR-Flipflop` and send a PR referencing this issue.

Make sure that you do not close this issue from the pr, only mention it, don't fix it, or close it, etc.

And to ensure fair opportunity to e

[2020-05-21 09:10] abhinavsri360 commented on #80
I would like to work on combinational logic as the content is very limited. I will add a detailed explanation to all the sub-pages of Combinational Logic.

[2020-05-21 09:13] abhinavsri360 commented on #236
I am working on this.

[2020-05-21 10:21] abhinavsri360 commented on #236
I have fixed this in the above Pull Request.

[2020-05-21 11:12] ShubhankarKG commented on #329
I'm not sure if that is possible, because the docs and interactive-book are two different applications. The Table of Contents in the Interactive-book refer to links present within the same page. The navbar nests the link which have a common parent. Those are two separate things. I'd say since we already have a TOC, another nesting in the navbar isn't required.

[2020-05-21 12:46] schezfaz commented on #329
Right, that's true. However, both CircuitVerseDocs and the Interactive Book are user-documentations, in the sense that if a user visits the CircuitVerse.org page, they are likely to access both these applications in order to find their way around.

Since both these applications fall under the CircuitVerse.org suite, it would enhance the UI/UX if consistency is maintained throughout. The navigation

[2020-05-21 16:27] #331 closed

[2020-05-21 18:08] schezfaz opened #343 "Boolean expression in the "NAND Gate Method" page is incorrect"
## Description
The boolean expression present on the [NAND Gate Method] page is correct as the rest of the steps do not follow through with the current expression.

## Steps to reproduce the behavior:
1.  Go to 'https://learn.circuitverse.org/docs/nand_gate_method.html#simplification'
2. F(A,B,C,D) has an extra variable 'E' on the R.H.S

## Expected behavior
'E' parameter should not be present as

[2020-05-21 18:29] #343 closed

[2020-05-22 09:21] AymanNasser commented on #116
Hey Guys,
I'll work on synchronous counter & add some modifications to ripple counter

[2020-05-22 10:23] #73 closed

[2020-05-22 10:48] AymanNasser commented on #42
I'll work for flip-flop conversion as a new section

[2020-05-22 10:52] YashKumarVerma commented on #42
I think i just assigned you an issue to work on. let's finish that up first. What do you think?

[2020-05-22 11:48] AymanNasser commented on #42
Aha, i just finished the last assigned task so i just tried to get a new one :D.
but you're totally right.

[2020-05-22 12:05] YashKumarVerma commented on #42
cool, just ping me or any of the maintainers when you submit a pr for the old one, we'll assign this one to you then. :smile:

[2020-05-22 14:34] schezfaz opened #348 "Re-order sub-pages under MSI Components in the side-nav bar"
## Description:
Currently, the [MSI-Components](https://learn.circuitverse.org/docs/msi) topic has 4 sub-topics under it, namely: Multiplexer, Demultiplexer, Encoder and Decoder. They are currently ordered as follows:
- Multiplexer
- Demultiplexer
- Decoder
- Encoder

## Expected behavior:
I believe it would be better to maintain the order as follows:
- Multiplexer
- Demultiplexer
- Encoder
- Deco

[2020-05-22 15:30] ShubhankarKG commented on #2
All three things are done. I think we can close this issue @YashKumarVerma .

[2020-05-22 15:38] #348 closed

[2020-05-22 17:21] YashKumarVerma commented on #2
thanks, @ShubhankarKG @aayush-05 for notifying.

[2020-05-22 17:21] #2 closed

[2020-05-23 05:38] ShubhankarKG commented on #44
This issue has been fixed. Can be closed @YashKumarVerma

[2020-05-23 05:39] #44 closed

[2020-05-23 05:51] ShubhankarKG opened #352 "Favicon.ico not present in all pages"
## Describe the bug
The favicon is only displayed on the home page. All other pages don't have the favicon.

## To Reproduce

Steps to reproduce the behavior:

1.  Go to 'https://learn.circuitverse.org/'
2.  Click on any page other than the homepage.
3.  Look for the icon in the tab header.
4.  See error

## Expected behavior

All pages have the circuitverse logo as favicon

## Screenshots

![Scre

[2020-05-23 05:57] #352 closed

[2020-05-23 06:12] ShubhankarKG opened #354 "Inconsistent Table Of Contents in 5 pages"
## Describe the bug

Generally the TOC outlines the indexes present on that page. But on 5 pages, namely **combinational, msi, flipflop, latches and register**, the original TOC is overriden to mention the sublinks. This is inconsistent with what the TOC in Interactive Book symbolises.

## To Reproduce

Steps to reproduce the behavior:

1.  Go to 'https://learn.circuitverse.org/'
2.  Click on 'Dig

[2020-05-23 07:40] #236 closed

[2020-05-23 13:36] abhinavsri360 opened #357 "Mounting of Boolean function page"
## Describe the bug
The Boolean functions page by default mounts at Truth Table generator. No idea why, works fine on my local machine i.e., mounts at the top of the page. Whereas at https://learn.circuitverse.org/docs/bool2.html is not mounted at the top of the page.

## To Reproduce
I am still trying to figure out how to fix this as this works fine on my local machine.

## Expected behavior
The

[2020-05-24 03:57] eKuG opened #360 "Add Verilog Code in the Interactive Book"
Being an Electrical Engineering undergraduate, Verilog codes have been essential in Digital Design of gates and simulators.
Progress: Added Verilog Code for Basic Gates
Currently working on it by me.

https://github.com/CircuitVerse/Interactive-Book/pull/359

[2020-05-24 11:39] mahmodHammad commented on #45
@abhinavsri360
https://github.com/CircuitVerse/Interactive-Book/pull/280 for this issue, cause you did not mention unsigned and signed numbers, however, your PR introduced an introduction to Binary number which was good 👍

[2020-05-24 11:42] #45 closed

[2020-05-24 13:44] schezfaz commented on #80
Working on the MSI/Multiplexer page!

[2020-05-24 14:24] #168 closed

[2020-05-24 15:54] #354 closed

[2020-05-24 19:56] AymanNasser commented on #42
**Hey Yash, I'm notifying you for assigning me for this issue & also I want to work on Verilog issue simultaneously**

[2020-05-25 13:59] eKuG commented on #270
Are you comfortable writing an simulating of ARM x86? Can you write some organic content on FPGAs?

[2020-05-25 13:59] eKuG commented on #270
If you want any help, let me know

[2020-05-25 14:02] eKuG commented on #78
Somebody working on this issue?

[2020-05-25 14:55] nisarhassan12 commented on #78
@eKuG Thanks! I have added the gitpod config https://github.com/nisarhassan12/Interactive-Book/blob/master/.gitpod.yml but in the workspace preview, there seem to be no styles showing up. Once I'm able to fix that I'll make a Pr for sure. The issue is that `localhost:4000` is hardcoded while Gitpod expects the URL to be something like https://4000-${workspace-url}.gitpod.io.

![image](https://user

[2020-05-25 20:55] omar-3 commented on #270
yes I guess we can write about the structure and simulation of ARM x86, you mean that write?, and I guess having original content on FPGAs is absolutely doable, we should begin from the very beginning right?

For sure, thank you

[2020-05-25 21:09] eKuG commented on #270
@omar-3 If you need any help on this, please do let me know. I have a fairly good grasp on Digital Design. I guess, I can help you in the most parts

[2020-05-26 00:52] eKuG opened #368 "Verilog Programming Language Introduction and Adding Verilog for every Sub-Circuit."
## Is your feature request related to a problem? Please describe.

Being an EE undergraduate student, I'm always on the lookout for the simulation of Digital Electronics and their programming in Verilog/SystemVerilog. This is a feature request regarding the same.

## Describe the solution you'd like

As the Interactive book already all the details regarding the explanation and simulation of Digita

[2020-05-26 00:52] eKuG commented on #368
@Shivansh2407 please look into it

[2020-05-26 01:12] Shivansh2407 commented on #368
Cool, Go ahead and Make a PR regarding the same. Please let me know your views too @satu0king @nitin10s @tachyons

[2020-05-26 08:19] mahmodHammad commented on #310
Are you working on it?

[2020-05-26 08:24] abhinavsri360 commented on #310
@mahmodHammad I mentioned in the comment above

[2020-05-26 08:24] mahmodHammad commented on #368
Don't put the verilog log code under each component, create a separate section for it

[2020-05-26 08:55] mahmodHammad commented on #310
for anyone will work on it here's a hint.
look for the @mediaquery ,inside it just remove the display none;
if you are using vscode press CTRL + SHIFT + f , this will enable you to quickly search over all the project, so you can search with the className of the table,

[2020-05-26 19:10] Dishebh opened #373 "Docs: In general, use second person instead of first person"
## Is your feature request related to a problem? Please describe.
As per the [Google style guide](https://developers.google.com/style/person), we should prefer using second person in the docs rather than the first person as the docs are intended to be used by the end-user.

## Describe the solution you'd like
Replace all the first-person terms to second-person.

## Would you like to work on it?
Ye

[2020-05-26 19:11] Dishebh commented on #373
@YashKumarVerma @Shivansh2407 Shall I work on it if it complies with the existing style guide?

[2020-05-26 19:12] YashKumarVerma commented on #373
I think it can be done

[2020-05-27 07:51] Shivansh2407 opened #376 "Dark Mode Button does not works properly on refresh"
## Describe the bug
Whenever the dark mode is selected by the user, on refreshing the page, Dark mode is retained but the text on the button switches back to Dark Mode instead of Light Mode.

## To Reproduce

Steps to reproduce the behavior:

1.  Go to 'https://learn.circuitverse.org/'
2.  Click on 'Dark Mode'
3.  Refresh The Page
4.  See error

## Expected behavior

It should display Light Mode T

[2020-05-27 08:07] Shivansh2407 commented on #376
![DarkMode1](https://user-images.githubusercontent.com/42182955/82993776-c30b9280-a01e-11ea-86af-14310229b1e7.gif)
Uploaded Screen Recording for Better Understanding

[2020-05-27 08:13] YashKumarVerma commented on #376
Okey, the reason for it is [most probably] that we're relying on local storage and not session storage.

Whoever is working to solve this one, make sure you give a good read to this one.
https://stackoverflow.com/a/19869560/5131640

[2020-05-27 13:28] Dishebh opened #378 "Doc: Use sentence cases in titles and headings"
## Is your feature request related to a problem? Please describe.

If we follow the [Google developers style guide](https://developers.google.com/style/capitalization), we should use sentence cases for all our headings and titles (with added exceptions).

## Describe the solution you'd like

Use sentence cases for titles and headings.

## Would you like to work on it?
Yes

[2020-05-27 13:29] Dishebh commented on #378
cc: @YashKumarVerma @Shivansh2407

Please see if the issue can be worked upon to improve the docs.

[2020-05-27 14:11] YashKumarVerma commented on #378
uniformity is good.

[2020-05-27 15:23] Dishebh commented on #378
Working on it, then

[2020-05-28 04:21] #373 closed

[2020-05-28 06:33] #378 closed

[2020-05-28 07:16] Shivansh2407 opened #380 "Search Bar gives no response on entering wrong Keyword"
## Is your feature request related to a problem?
The search bar on entering a right keyword shows a list of pages which can be opened, but on entering a wrong keyword like KKKK gives no response. This gives the user a bad experience, it feels like the search bar is stuck.

## Describe the solution you'd like
Whenever the keyword does not matches then `No Results Found. Try Entering another Keyword

[2020-05-28 07:18] Shivansh2407 commented on #380
Duplicate of #34 . Closing This Issue

[2020-05-28 07:18] #380 closed

[2020-05-28 08:10] Dishebh opened #381 "Add ring counter's and johnson ring counter's circuit simulations"
## Is your feature request related to a problem? Please describe.

Add ring counter's and johnson ring counter's circuit simulations to the `Digital counters`.

## Would you like to work on it?
Yes

[2020-05-29 03:45] akash-baranwal opened #383 "VHDL programming language introduction and adding VHDL codes for different circuits."
## Is your feature request related to a problem? Please describe.
Many students use VHDL as their programming language for simulation of different hardware components and for beginners VHDL can be quite challenging . This is a feature request for solving this problem.

##A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
When i was told about use of VHDL i

[2020-05-29 06:12] eKuG commented on #383
We are already working on adding Verilog, Adding VHDL wouldn't be a very big deal.

[2020-05-29 06:54] Dishebh opened #384 "Add a NOR gate method to the sidebar?"
## Is your feature request related to a problem? Please describe.
Add a NOR gate method to the sidebar? (As a complementary feature to the current NAND gate method, since they both are universal gates).

## Would you like to work on it?
Yes

[2020-05-29 06:54] Dishebh commented on #384
@YashKumarVerma @Shivansh2407 please let me know if I can work on it.

[2020-05-29 08:34] Shivansh2407 commented on #384
Yes @Dishebh. Go ahead and make a PR.

[2020-05-29 14:26] akash-baranwal commented on #383
ok so should i do anything to add the vhdl codes ?

[2020-05-30 04:29] eKuG commented on #383
Firstly we need to add a page explaining VHDL

[2020-05-30 13:08] developer22-university commented on #383
I can do that @akash-baranwal @eKuG

[2020-05-31 11:12] abhinavsri360 opened #388 "TOC missing on some pages"
## Describe the bug

A clear and concise description of what the bug is.
Table of contents is missing on the following pages: Binary Numbers, Digital Sequential circuits, Race around condition,
## To Reproduce

Steps to reproduce the behavior:
Can be done via adding {:toc} on top of the page

## Expected behavior
TOC must be present on these pages
A clear and concise description of what you expect

[2020-05-31 12:03] abhinavsri360 commented on #310
thanks for the advice @mahmodHammad I have fixed the issue in #390

[2020-05-31 12:10] abhinavsri360 opened #391 "Previous and next buttons"
## Describe the bug
Previous and Next buttons on the page Boolean Algebra
A clear and concise description of what the bug is.

## Expected behavior
Must be present in the next line with space in between

## Screenshots
![image](https://user-images.githubusercontent.com/44001310/83351934-bf9d4180-a365-11ea-96e9-1925b88c7a4b.png)

## Additional context
I am not working on this bug
Add any other cont

[2020-05-31 19:07] YashKumarVerma commented on #391
Thanks for pointing out, can you remove the unwanted data from the template. :+1

[2020-05-31 19:23] abhinavsri360 commented on #391
Sure Why not!

[2020-05-31 19:31] YashKumarVerma commented on #310
Please fill the issue template

[2020-05-31 19:32] YashKumarVerma commented on #388
Please follow the issue template.

[2020-05-31 19:43] abhinavsri360 commented on #310
Filled @YashKumarVerma

[2020-05-31 19:52] abhinavsri360 commented on #388
Did not got you, what am I supposed to rectify?

[2020-05-31 19:55] YashKumarVerma commented on #388
![image](https://user-images.githubusercontent.com/14032427/83361458-bd0f0c00-a3a6-11ea-95e1-58e20a9bde59.png)

Consider removing unwanted lines from here

[2020-05-31 19:59] #381 closed

[2020-05-31 20:02] YashKumarVerma opened #392 "Embedded simulations have same id"
## Bad Practice
no two elements should have same id.

## To Reproduce
Check code of any embedded circuit

## Expected behavior
elements should have unique ids

## Additional context
Fix all instances throughout the project.

Open to claim.

[2020-05-31 20:03] #360 closed

[2020-05-31 20:04] YashKumarVerma commented on #42
updates @AymanNasser

[2020-05-31 20:04] #266 closed

[2020-05-31 20:05] YashKumarVerma commented on #88
how exactly ?

[2020-05-31 20:05] #61 closed

[2020-05-31 20:06] #24 closed

[2020-05-31 20:06] #5 closed

[2020-05-31 20:08] abhinavsri360 commented on #388
Updated

[2020-05-31 20:32] i-m-vivek commented on #392
Can I work on it.

[2020-05-31 20:45] i-m-vivek commented on #391
@abhinavsri360 Can I work on this issue?

[2020-05-31 20:46] abhinavsri360 commented on #391
Yeah sure

[2020-06-01 04:45] i-m-vivek commented on #391
![Capture](https://user-images.githubusercontent.com/56120485/83376683-c02eea00-a3f0-11ea-8eb4-7b836fc8888c.JPG)

@YashKumarVerma Is this Okay?

[2020-06-01 04:46] YashKumarVerma commented on #391
Looks good, send a PR and mention in commit / pr body that `Fixes #391`

[2020-06-01 11:13] Shivansh2407 opened #395 "Pop Quizzes Not Working in Dark Mode"
## Describe the bug
The Pop Quiz in the Binary Page works well in the light mode but needs to be fixed in the dark mode.

## To Reproduce

Steps to reproduce the behavior:

1.  Go to 'https://learn.circuitverse.org/docs/binary.html'
2.  Click on 'Dark Mode'
3.  Scroll down to 'Pop Quiz'
4.  See error

## Expected behavior

It should work with the Dark Mode matching the theme of Circuitverse.

## S

[2020-06-01 17:37] #391 closed

[2020-06-02 03:07] AymanNasser commented on #42
I’m sorry, I’ve some deadlines for my university. I’ll start to work on this issue soon.

Sorry for late reply 😅

[2020-06-02 06:00] YashKumarVerma commented on #42
Cool. No Issues

[2020-06-02 16:55] schezfaz opened #397 "Restructure README.md"
## Current Status:

The [README.md](https://github.com/CircuitVerse/Interactive-Book/blob/master/README.md) file covers the following topics:
- Introduction the the project
- Setting up development environment on local
- Contribution history
- Overview of the Interactive Book (contents, architecture, etc.)
- Rules and guidelines for contributions
- Code structure
- Pop quiz introduction
- Plugins

[2020-06-03 09:56] abhinavsri360 commented on #397
how about a directory with all markdown files in there?
and we can have a universal markdown file which as you said link to all these files present in some specific directory.

[2020-06-04 20:14] schezfaz opened #402 "Two circuit diagram present on adder and subtractor pages"
## Description
Currently on pages such as [Half Adder](https://learn.circuitverse.org/docs/Combinational/half_adder.html), [Full Adder](https://learn.circuitverse.org/docs/Combinational/half_adder.html), [Half Subtractor](https://learn.circuitverse.org/docs/Combinational/half_sub.html) and [Full Subtractor](https://learn.circuitverse.org/docs/Combinational/full_sub.html) there are 2 circuit diagra

[2020-06-04 20:14] schezfaz commented on #402
Working on it.

[2020-06-05 06:01] NitishGadangi opened #403 "Link for Watch videos under Jekyllconf in Readme is either Wrong or Dead"
## Describe the bug

The redirection link for ```Watch videos``` under ```Jekyllconf``` in Readme is either Wrong or Dead

## To Reproduce

Steps to reproduce the behavior:

1.  Go to Readme of the Repo
2.  Click on ```Watch videos``` under ```Jekyllconf``` section

## Expected behavior

As per my research. The actual link must be https://jekyllrb.com/jekyllconf/

## Screenshots
![image](https://u

[2020-06-05 10:24] #403 closed

[2020-06-05 13:13] Dishebh opened #407 "Table elements alignment in all pages"
## Is your feature request related to a problem? Please describe.
There are some tables where its values are left-aligned, while some tables where their values are center-aligned.

### Table where its values are left-aligned:
![Screenshot from 2020-06-05 18-42-47](https://user-images.githubusercontent.com/43489708/83880195-6c0f6700-a75c-11ea-8efd-366e68e09da8.png)

### Table where its values are c

[2020-06-05 13:14] Dishebh commented on #407
cc: @Shivansh2407 @abhinavsri360 @schezfaz

[2020-06-05 14:41] nileshdas commented on #395
Hi! Can I work on this issue?

[2020-06-05 16:55] Shivansh2407 commented on #395
Sure @nileshdas . Go ahead and Make a PR 👍.

[2020-06-05 16:55] nileshdas opened #409 "Uneven styling in "Operators in Binary""
## Describe the bug

The bitwise operators are very unevenly designed

## To Reproduce

Steps to reproduce the behavior:

1.  Go to 'https://learn.circuitverse.org/docs/binary2.html'
2.  Scroll down to 'Bitwise Operators'
3.  See the uneven styling and odd big operator selector button

## Expected behavior

The answer boxes should be evenly sized and the operator selector button should be a little

[2020-06-05 16:56] nileshdas commented on #409
I am working on this issue

[2020-06-05 17:22] abhinavsri360 commented on #407
@Dishebh please make the issue headline more specific something like 'Table elements alignment in all pages' and remove the question mark as well.

[2020-06-05 17:24] #388 closed

[2020-06-05 18:30] nileshdas commented on #308
Can I work on this issue? @YashKumarVerma

[2020-06-05 18:50] YashKumarVerma commented on #308
Yes

[2020-06-05 20:56] abhinavsri360 commented on #409
@nileshdas every time you don't need to ask to work on an issue that you opened. Just mention in the template that you are working or not. If you find an issue on which no one is working just add a comment on that issue stating 'I am on it' and simply start working.

[2020-06-06 04:19] #395 closed

[2020-06-06 07:48] abhinavsri360 commented on #409
@nileshdas please update the issue template if you are working on this issue.

[2020-06-06 07:52] nileshdas commented on #409
I am working on it

[2020-06-06 17:19] nileshdas opened #413 "Diagram not visible in dark mode"
## Describe the bug

Some parts of FSM interactive experiment diagram's text is not visible in dark mode

## To Reproduce

Steps to reproduce the behavior:

1.  Go to 'https://learn.circuitverse.org/docs/fsm_interactive.html'
2.  Scroll down to 'Experiment''
3. Turn on Dark Mode
4.  See error

## Expected behavior

The text should be readable

## Screenshots
![Screenshot (129)](https://user-images

[2020-06-06 17:36] #308 closed

[2020-06-07 13:23] #413 closed

[2020-06-07 14:01] b30wulffz opened #416 "Extremely small size of binary to decimal converter in mobile devices"
## Describe the bug

Binary to decimal converter becomes extremely small when opened in mobile devices. As well as, the UI of the tool does not match with the theme.

## To Reproduce

Steps to reproduce the behavior:

1.  Go to https://learn.circuitverse.org/docs/binary.html on any mobile device or emulate it using Google Chrome
2.  Scroll down to end of the page (up to Binary to Decimal converter

[2020-06-07 14:03] b30wulffz commented on #416
I have worked on this issue, with a completely new UI. This new tool is very much responsive to devices of different screen sizes.

[2020-06-07 15:43] nileshdas opened #418 "Rounded rectangles when using Interactive Karnaugh Map disappear in Dark Mode"
## Describe the bug

Rounded rectangles when using Interactive Karnaugh Map disappear in Dark Mode

## To Reproduce

Steps to reproduce the behavior:

1.  Go to 'https://learn.circuitverse.org/docs/kmapi.html'
2.  Click on 'Dark Mode'
3.  Click on 'Random Example'
4.  See error

## Expected behavior

The rectangles should appear so as to give a better idea about Karnaugh maps

## Screenshots
![Scr

[2020-06-07 16:08] nileshdas opened #420 "Karnaugh Map doesn't take manual input"
## Describe the bug

Karnaugh Map is not taking manual inputs and hence not working

## To Reproduce

Steps to reproduce the behavior:

1.  Go to 'https://learn.circuitverse.org/docs/kmapi.html'
2.  Click on 'Any of the smaller rectangle to toggle value'
4.  See error

## Expected behavior

The rectangles should toggle values and give the correct output

## Screenshots
On clicking
![Screenshot (14

[2020-06-07 18:40] b30wulffz commented on #418
@nileshdas Better.
@abhinavsri360 @YashKumarVerma Please have a look.

[2020-06-07 20:20] nileshdas commented on #420
The article says "This function can manually be edited by a click on different cells in the K-map". But on clicking the cells, nothing happens. I checked the console and it gave the errors attached in the screenshot above.

[2020-06-08 04:25] #416 closed

[2020-06-08 05:09] #376 closed

[2020-06-08 06:27] NitishGadangi opened #422 "Fix Grammatical Errors in the Interactive Book"
## Describe the bug

There are several Grammatical errors on each page of the Interactive Book. Namely,
- Spelling Mistakes
- Misplaced Modifiers
- Pronoun Disagreement
- Misplacing Commas
- and other minor errors.

These errors must be fixed as they might cause unclear communication between the author and the reader.

## Additional context

**I will be working on this issue.**

I have added a che

[2020-06-08 06:29] NitishGadangi commented on #422
I will be using Grammarly to Manually fix errors on each page.

[2020-06-08 07:55] NitishGadangi commented on #422
@YashKumarVerma  Bro,
As you have mentioned in the PRs

Does this mean, it's currently not necessary to check for grammatical errors? <br>
OR
Should I make a plagiarism check and make necessary changes to the content before applying grammatical corrections

[2020-06-08 08:00] YashKumarVerma commented on #422
I think this would be better.

[2020-06-08 19:57] b30wulffz commented on #422
Good job.
But I don't see any point making multiple PRs for the same issue.
Sending a PR with all the changes in different commits, and then squashing those commits into one would do the work.
@YashKumarVerma @Shivansh2407 What are your views about this?

[2020-06-08 21:53] abhinavsri360 commented on #422
There is always an issue #92 opened for the same reason. @NitishGadangi did you properly read the issue template?

[2020-06-09 03:17] NitishGadangi commented on #422
Hey @abhinavsri360 ,
I got you but, I think there is huge difference between correcting spelling mistakes and fixing grammatical errors.

[2020-06-09 03:19] NitishGadangi commented on #422
@b30wulffz
So The reason I am making multiple PRs is to keep track of each file/topic individually.
And its actually a better practice to do so. Reason, if we want we can revert changes made that particular file without affecting the other files.

For more clarification you can refer to the PRs made by others to fix plagiarism in #92

[2020-06-09 03:23] YashKumarVerma commented on #422
@NitishGadangi you're using Grammarly to fix these errors right?

[2020-06-09 03:24] YashKumarVerma commented on #80
@schezfaz  and @abhinavsri360  could someone of you update the list we have :sweat_smile: so that we can keep track of what needs to be done next.

[2020-06-09 03:24] NitishGadangi commented on #422
Yes bro

[2020-06-09 06:29] schezfaz commented on #80
Yup, on it!

[2020-06-09 08:37] b30wulffz opened #433 "Redesigning of and/or/xor tool in binary2.html"
## Is your feature request related to a problem? Please describe.

Previous and/or/xor tool has issues while using on mobile i.e. it is not available for mobile. Plus it does not match with the UI of the webpage.
This is how it looks right now:
![image](https://user-images.githubusercontent.com/31105595/84125673-826a3b00-aa5a-11ea-8f25-2a316e3cad6d.png)

## Describe the solution you'd like

I prev

[2020-06-09 09:02] Shivansh2407 commented on #433
What I can make from the rough design is really a cool UI. Please finish the development work soon and open up a PR for the same.

[2020-06-09 10:24] YashKumarVerma commented on #433
Really liked the way he showed the prototype :smile:

[2020-06-09 11:51] #310 closed

[2020-06-09 12:17] abhinavsri360 commented on #422
I understand @NitishGadangi  but this could have been an extended version of the same, you could have added your checkbox chart in the same issue. Also, lots of PR doesn't make any sense you can keep a check simply from your checkbox chart if you say that it is created to track the progress of work.

[2020-06-09 15:49] nileshdas opened #434 "2 bit asynchronous counter doesn't work properly"
## Describe the bug

2 bit asynchronous counter doesn't work properly

## To Reproduce

Steps to reproduce the behavior:

1.  Go to 'https://learn.circuitverse.org/docs/counter.html'
2.  Scroll down to '2 bit asynchronous up counter'
4.  See error

## Expected behavior

Should count the binary number properly

## Screenshots

![2bitAsynchronous](https://user-images.githubusercontent.com/39062229/8

[2020-06-09 17:10] YashKumarVerma commented on #422
Closing it in favor of #80 as it is difficult to track like this.

Once the file would be fixed for grammatical errors in current versions and then for fixing plagiarism (essentially rewritten from top to bottom) and most probably making the changes done for this issue ineffective.

So it would be in the best interest of the contributions, the maintainers, and the project history for this to be do

[2020-06-09 17:10] #422 closed

[2020-06-09 17:12] YashKumarVerma commented on #80
from https://github.com/CircuitVerse/Interactive-Book/issues/422#issuecomment-641453889

[2020-06-10 05:07] NitishGadangi commented on #80
Some of the contents of the Boolean Functions page look copied from another website. I would like to rewrite that content with more organic content.
![image](https://user-images.githubusercontent.com/29014716/84229106-64f2ab00-ab06-11ea-9e46-09fe3224e66f.png)

[2020-06-10 08:11] #433 closed

[2020-06-10 10:06] b30wulffz commented on #409
@Shivansh2407 This issue can be closed now.

[2020-06-10 10:41] Shivansh2407 commented on #409
Closing this as the UI of the tool has been revamped in #437

[2020-06-10 10:41] #409 closed

[2020-06-10 13:25] b30wulffz opened #440 "Issue with XOR operator of and/or/xor tool"
## Describe the bug

If only one bit is toggled to 1 and then back to 0, and the operator is set on xor, it will show 1 which is wrong.
This is because the array which is storing bits in the form of true and false is not initialized. Hence it is storing an empty value in the beginning. If only one of the bit is toggled to 1 and again toggled to 0, the array stores one value as false, and false !=

[2020-06-11 03:04] YashKumarVerma commented on #440
A nicely written issue report. Good work !

[2020-06-11 03:04] #440 closed

[2020-06-11 03:07] #392 closed

[2020-06-11 03:14] #418 closed

[2020-06-11 03:14] YashKumarVerma commented on #80
Sure. go ahead.

[2020-06-11 03:24] #434 closed

[2020-06-11 03:36] YashKumarVerma commented on #397
I think we must go with the second opton : separate md files.

[2020-06-11 03:58] b30wulffz commented on #440
Thanks @YashKumarVerma :)

[2020-06-11 05:00] YashKumarVerma commented on #357
I was unable to reproduce the issue. Could you please help

[2020-06-11 06:28] Dishebh opened #442 "Docs: Add more content to decoders"
## Describe the solution you'd like
Elaborate the examples given in decoder section, give them some content, truth table, simulations, etc.

- Code converters
- BCD to seven segment decoders
- Nixie tube decoders
- Relay actuator

## Would you like to work on it?
Yes

[2020-06-11 06:28] Shivansh2407 commented on #357
I think I got his issue @YashKumarVerma. Basically @abhinavsri360 is trying to say that when we open any specific page of Interactive book, then we start from the top of Page where TOC and all is present but specifically on opening this page we get to see the truth table generator (the last section of the page) directly. The user has to scroll up to view the contents of the Page.
Please try to com

[2020-06-11 07:08] Shivansh2407 commented on #88
The Dark Mode Button work when we click on them without clicking on the text, But the Edit on github is still not working the way it is needed .

[2020-06-11 10:00] abhinavsri360 commented on #357
Sure, @Shivansh2407 I will add a screen recording.

[2020-06-12 08:57] Shivansh2407 opened #443 "State Table Generator Not Accessible in Mobile"
## Describe the bug
The State Table Generator in flipflop2 page needs to be changed as it is available currently on desktop view. If the User wants to access it through mobile then it asks for pressing F and there is no keyboard that pops up on page load.

## To Reproduce

Steps to reproduce the behavior:

1. Go to 'https://learn.circuitverse.org/docs/flipflop2.html'
2. Use Mobile View
3. See erro

[2020-06-12 14:01] b30wulffz commented on #443
Alignment issue, doesn't looks good.
![image](https://user-images.githubusercontent.com/31105595/84510541-e56e0300-ace2-11ea-9093-9f4c74a865e9.png)

Can be fixed, will do it by tomorrow.

[2020-06-12 14:02] b30wulffz commented on #443
Can be fixed. Will do it by tomorrow.

[2020-06-13 08:04] b30wulffz commented on #443
@Shivansh2407
Should I remove press F functionality completely as it doesn't make any sense? Instead keep a button

[2020-06-13 08:08] Shivansh2407 commented on #443
I think we should keep a button instead of the press F functionality .@YashKumarVerma what are your views?

[2020-06-13 11:59] schezfaz commented on #397
Thanks, working on it!

[2020-06-13 12:46] abhinavsri360 commented on #397
@schezfaz Let me know if you need any support or want to divide the task.

[2020-06-13 15:07] b30wulffz commented on #443
@Shivansh2407 @YashKumarVerma
Minor updates. Is this design okay?

![ezgif com-video-to-gif (5)](https://user-images.githubusercontent.com/31105595/84572031-f9823500-adb4-11ea-8893-00cbe68cc190.gif)

This is a basic change, planning to do some more including:
- fixing button which looks a bit small,
- fixing colour combination,
- fixing the overflowing dropdown menu.

PS: Forgot to make mouse visi

[2020-06-13 15:15] Shivansh2407 commented on #443
It is really good @b30wulffz. Make a PR so that we can give our views on it 👍

[2020-06-15 07:17] #443 closed

[2020-06-15 07:32] YashKumarVerma opened #445 "Show alert instead of undefined behavior."
Nice Work @b30wulffz 👍
We Also need to fix the table generated after filling the drop-downs, as sometimes we get undefined. An alert should be displayed instead of showing undefined in the table. We need to do that in a different PR.

_Originally posted by @Shivansh2407 in https://github.com/CircuitVerse/Interactive-Book/pull/444#issuecomment-643951084_

[2020-06-15 08:04] #384 closed

[2020-06-15 09:56] YashKumarVerma commented on #422
With this issue closed, the PR's that were made for this should ideally be closed.

[2020-06-19 02:52] b30wulffz commented on #445
@Shivansh2407 @YashKumarVerma Can you give me steps to regenerate this bug?

[2020-06-19 05:05] Shivansh2407 commented on #445
Screen Recording :
![20200619_103223](https://user-images.githubusercontent.com/42182955/85098431-5b5cf780-b218-11ea-92b9-975ff2fbbc6f.gif)

We Should not show this undefined in the tables, It does not looks good and will give the user a bad experience whenever they see Undefined filled in the tables, rather we can display an alert before generating the table and display the table only when all th

[2020-06-24 15:28] coding-CEO opened #446 "Top Bar buttons issue"
## Describe the bug

When we newly visit the website, the buttons on the top bar doesn't get proper styling. But, if we refresh the page it gets normal.

## To Reproduce
Copy link of any page, specially Boolean function page and paste that link in a new tab, you will see the problem on top bar.

Steps to reproduce the behavior:

1.  Copy link of Boolean function page
2.  Open a new tab
3.  Paste t

[2020-06-26 04:47] Shivansh2407 opened #447 "Enable scrolling in search drop-down"
## Describe the bug
Whenever the user types something in the search bar, It shows a long list of pages, extending the current page length.

## To Reproduce

Steps to reproduce the behavior:

1.  Go to 'learn.circuitverse.org'
2.  Click on 'Search'
3.  Type Something in the search bar
4.  See error

## Expected behavior

We should enable vertical scrolling, showing maximum of 5 results at a time so

[2020-07-02 17:45] shubhdeep123 commented on #447
Fixed the search bar issue. And vertical scrolling enabled with max to 5 results at a time.
![IMG20200702231439](https://user-images.githubusercontent.com/64921946/86392970-f1355f80-bcb9-11ea-9cbd-b1cd20adfc65.jpg)

[2020-07-12 06:14] animesh-007 commented on #445
Can I work on this?

[2020-07-12 08:51] b30wulffz commented on #445
@animesh-007 Yes, sure.

[2020-07-21 18:25] schezfaz opened #454 "Make References' page more informative"
## Current Status
Currently the [References](https://learn.circuitverse.org/references) page only has a bunch of links mentioned, without giving the reader any context on what they can find at which link, or how the link or resource could be further utilised by them.

## Enhancement
Make the references page more information by adding:
- Context for each hyperlink
- Adding a title for each hyperlin

[2020-07-22 07:17] divanshisethi9488 commented on #454
Can i work on this?

[2020-07-23 04:26] YashKumarVerma commented on #454
@divanshisethi9488  if @schezfaz is not, you surely can.
Before starting anything, please get confirmation from @schezfaz

[2020-07-23 08:44] schezfaz commented on #454
Hi @divanshisethi9488, I haven't started working on this issue yet,  you can go ahead and take it up!!

[2020-07-23 09:13] divanshisethi9488 commented on #454
Thankyou, I will begin working on it.

On Thu, 23 Jul 2020, 14:15 Schezeen Fazulbhoy, <notifications@github.com>
wrote:

[2020-08-08 12:07] singhanurag05 commented on #447
I see the issue still exists on the Interactive book can I try this?

[2020-08-23 18:56] SingingApple commented on #447
I see this issue is still up. Can I work on it?

[2020-09-02 05:19] Shivansh2407 commented on #447
Fixed in #455 by @shubhdeep123

[2020-09-02 05:19] #447 closed

[2020-09-02 05:30] Shivansh2407 opened #456 "Dynamic Height of the Search Drop-Down"
## Describe the bug
When the number of elements in the drop down are less(1-2), the drop down should not be fixed to its length, it should rather be dynamic while changing the length up to some specific rows of results.
Please see the image for more clear idea. This white space does not provide a good user experience.
https://github.com/CircuitVerse/Interactive-Book/pull/455#pullrequestreview-4804

[2020-09-02 05:34] shubhdeep123 commented on #456
@Shivansh2407 looking to work on this issue.

[2020-09-02 05:39] Shivansh2407 commented on #456
Yeah sure @shubhdeep123 . Go ahead and shoot a PR 👍

[2020-09-03 01:28] #445 closed

[2020-09-07 11:15] #456 closed

[2020-09-08 11:43] shubhdeep123 commented on #442
@Dishebh @YashKumarVerma is anyone working on this issue can I work on this?

[2020-09-12 09:57] shubhdeep123 opened #458 "Animations of universal gates docs are not mobile responsive."
## Describe the bug
In universal gate docs animated implementation of gates are not mobile responsive.

## To Reproduce

Steps to reproduce the behavior:

1.  Go to https://learn.circuitverse.org/docs/universal_gates.html
2.  Scroll down in mobile view
3.  See error

## Expected behavior

Animations should be mobile responsive to fit properly in screen.

## Screenshots:

![Screenshot_2020-09-12-15

[2020-09-16 04:08] mrSidSat commented on #420
Can I work on this issue??

[2020-09-21 16:19] tachyons opened #459 "Check the feasibilty of using just-the-docs a gem"
Currently we are using the fork of https://github.com/pmarsceill/just-the-docs project. So that we can no longer get the latest update from the upstream project. If we can use the above jekyill theme as a plugin with all our modifications intact, then that will be great

[2020-09-21 17:10] tachyons commented on #459
Proof of concept https://stoic-wright-05e4d7.netlify.app/docs/nor_gate_method.html

https://github.com/tachyons/cvlearn

[2020-09-23 05:33] Roshan13046 commented on #446
This issue doesn't exist in PC.

[2020-09-23 05:51] Roshan13046 commented on #36
Is there anyone working on this feature?
I would like to work on this.

[2020-09-23 05:57] Roshan13046 commented on #28
I am working on this issue.

[2020-09-24 17:46] Roshan13046 commented on #28
I have corrected this issue.
Is there anyone to check it?

[2020-09-27 06:38] kunbeg commented on #454
@schezfaz can I work on this issue? I have checked for any open pull request associated with this issue. I didn't find any since this is issue was opened and this is good for me as I'm a new contributor.

[2020-09-28 10:48] anushri20 commented on #458
@shubhdeep123 Can i work on this?

[2020-09-28 11:10] shubhdeep123 commented on #458
Hey @anushri20 sure go ahead

[2020-09-30 09:00] harshitaaaaaa commented on #92
Can I work on this?

[2020-09-30 09:40] shubhdeep123 opened #464 "Some docs have non-responsive elements."
## Describe the bug

Universal gate,NAND gate methods, NOR gate methods and Interactive FSM docs all have frame and svg elements that are not responsive for mobile.

## To Reproduce

Steps to reproduce the behavior:

1.  Go to 'https://learn.circuitverse.org/'
2.  Click on 'Menu'
3.  Go to above given Docs
4.  See error

## Expected behavior

Frame and svg elements should be responsive for Mobile.

[2020-10-01 05:03] anushri20 commented on #464
Is this open?

[2020-10-01 05:38] anushri20 commented on #464
@shubhdeep123 Is this open?

[2020-10-01 05:41] Shivansh2407 commented on #464
Hi @anushri20 , there are currently a lot of changes going in the CodeBase (see GSOD2020 branch) . During this time, we will not be merging any PRs, but after the GSOD 2020 branch gets merged, you can start Contributing to the New and enhanced Book

[2020-10-01 08:05] anushri20 commented on #464
Okay, thanks!

[2020-10-01 18:45] YashKumarVerma commented on #92
A lot of content is being re-written. Please check GSoD2020 Branch.

[2020-10-01 18:52] harshitaaaaaa commented on #92
Okay I'm checking it out! Thankyou

[2020-10-01 19:14] sal2701 commented on #92
Closing issue as not applicable anymore

[2020-10-01 19:14] #92 closed

[2020-10-05 20:04] harshitaaaaaa opened #470 "Add a section for Addition and subtraction of signed and unsigned binary numbers using 2's complement."
Under the "Operators in Binary" section, we have shown simple addition and subtraction of unsigned binary number. In my opinion, adding a separate section for the addition and subtraction of binary numbers using 2's complement method will be helpful.

[2020-10-05 20:14] harshitaaaaaa opened #471 "Button text is not properly aligned."
![Screenshot from 2020-10-06 01-39-25](https://user-images.githubusercontent.com/66556662/95127224-4aa7a180-0775-11eb-8daa-23e9f7516153.png)
Here, the text is not properly centered and the button size is small which doesn't seems good.
Also the white color of text inside the button is not perfectly visible.
I think it should be fixed!

[2020-10-06 12:41] DhairyaBahl commented on #471
@harshitaaaaaa I would like to work on this issue. Kindly assign it to me.

Thanks :)

[2020-10-06 12:44] DhairyaBahl commented on #442
@YashKumarVerma I cannot see any activity on this page. If this issue is still available kindly assign it to me.

Thanks :)

[2020-10-06 17:59] harshitaaaaaa commented on #471
@DhairyaBahl Okay go ahead!

[2020-10-06 19:42] harshitaaaaaa opened #473 "Correction in Interactive-gates page"
The wires of circuit are not visible in the dark mode.

![Screenshot from 2020-10-07 00-52-20](https://user-images.githubusercontent.com/66556662/95251110-aedf6980-0838-11eb-8acf-43f0d20d77fe.png)

Here, Under the section: Two way light switch and security light, wires are clearly visible.

![Screenshot from 2020-10-07 00-52-27](https://user-images.githubusercontent.com/66556662/95251120-b141c380-

[2020-10-07 20:19] danielluehr opened #475 "CSS styles for the new version (GSoD2020) of the Interactive Book"
## Describe the bug

The new version of the book (being developed under the GSoD 2020 project) replaced the old version Just-the-docs (JTD) Jekyll theme, which was installed locally and included styling and structure hardcoded into it, with the current upstream JTD version installed as a Gem/plugin for Jekyll. In the process some of the original style of the book was lost, either because it was ha

[2020-10-07 20:42] danielluehr opened #476 "Broken Prev/Next navigation buttons with new just-the-doc theme and new structure (GSoD2020)"
## Describe the bug

The new version of the book (being developed under the GSoD 2020 project) replaced the old version Just-the-docs (JTD) Jekyll theme, which was installed locally and included styling and structure hardcoded into it, with the current upstream JTD version installed as a Gem/plugin for Jekyll. The new version uses the JTD "pages with children" feature to organize the books in two

[2020-10-08 07:21] anushri20 commented on #475
Can I work on this?

[2020-10-08 07:22] anushri20 commented on #473
Can I work on this?

[2020-10-08 08:09] YashKumarVerma commented on #473
yes

[2020-10-08 08:58] anushri20 commented on #473
Thanks!

[2020-10-08 09:12] Shivansh2407 commented on #475
Yes @anushri20 go ahead 👍

[2020-10-08 09:15] Shivansh2407 commented on #473
Hey @anushri20 , glad to see your enthusiasm to contribute to the Book, Currently the Codebase is undergoing a lot of transformations, it is better if you can fix the issues recently opened for the GSOD 2020 branch #475 , #476 . We will merge the PRs currently only for the GSOD 2020 branch only. Looking forward to your PRs.

[2020-10-08 09:23] anushri20 commented on #473
Okay, Thank you for letting me know @Shivansh2407

[2020-10-10 11:55] yuktibagrodia commented on #471
can I do it? If it's not done yet?

[2020-10-10 12:00] DhairyaBahl commented on #471
@yuktibagrodia From my side its free. I am not working on it currently :).

[2020-10-10 12:31] yuktibagrodia commented on #471
#477 @harshitaaaaaa please check. changes are done only for button size and color. please tell me which text is not centered properly?

[2020-10-18 01:29] khanjasir90 commented on #470
can i work on this!!!

[2020-10-27 18:03] rishabhgit0608 commented on #357
hello this issue is fixed

[2020-10-27 18:41] rishabhgit0608 opened #479 "Truth Table needs a Correction"
Under Boolean Function - 2nd truth table needs a correction as it is wrong and logically incorrect

1.  Go to- https://learn.circuitverse.org/docs/bool2.html
2.  Scroll down to 2nd truth table

## error
![Screenshot (217)](https://user-images.githubusercontent.com/53399949/97346803-eb3f3c00-18b1-11eb-81c3-c8d4f16748ce.png)

[2020-10-27 18:53] #479 closed

[2020-10-27 19:00] rishabhgit0608 opened #481 "Correction in the truth table"
2nd truth table under the boolean functions tab needs a correction
https://learn.circuitverse.org/docs/bool2.html
![Screenshot (217)](https://user-images.githubusercontent.com/53399949/97348828-b7194a80-18b4-11eb-8612-f7ce5d8f7e53.png)

[2020-10-28 08:38] abhinavsri360 commented on #357
Hey, @rishabhgit0608 thanks for notifying, closing this issue, also, is there a PR associated with this issue such that I can link the same and close this, if you know that lemme know, I'll close this!
Thanks!

[2020-10-28 09:03] rishabhgit0608 commented on #481
@abhinavsri360 this issue is fixed and yes their is a PR associated with it and I tried fixing it.  https://github.com/CircuitVerse/Interactive-Book/pull/482 thank you

[2020-10-28 13:25] Shivansh2407 opened #483 "Table Contents not Visible in Dark Mode [GSoD 2020 Branch]"
## Describe the bug

The table contents in the new Interactive Book ( GSoD 2020 Branch ) are only visible in light mode. While changing to Dark Mode the contents vanish away and only an empty table is visible.
Please find the screenshots attached below

## To Reproduce

Steps to reproduce the behavior:

1.  Go to 'betalearn.circuitverse.org'
2.  Click on 'Any Page Containig Table'
3.  Click on 'Da

[2020-10-28 17:12] Shivansh2407 commented on #481
@rishabhgit0608 please redirect your PR to the GSOD2020 Branch as the Book currently is undergoing a lot of changes and we will be merging that to Master soon . Please let us know if you need any help 👍 .

[2020-10-28 18:04] rishabhgit0608 commented on #481
Shall I have to make a new PR for this ??

[2020-10-29 05:55] rishabhgit0608 commented on #481
@Shivansh2407 I made a PR to GSOD2020 Branch. thank you

[2020-11-04 15:12] anushri20 commented on #483
@Shivansh2407 Can I work on this?

[2020-11-04 15:15] anushri20 commented on #483
@Shivansh2407 Hi, I would like to work on this?

[2020-11-04 16:20] Shivansh2407 commented on #483
Yeah @anushri20 go ahead and make a PR👍

[2020-11-21 07:35] ayushontop commented on #483
working on this

[2020-11-21 07:48] Shivansh2407 commented on #483
@ayushontop , actually we are discussing currently to remove the dark mode, so I suggest you to please pick other issues to fix. @satu0king Please let me know your views on removing the dark mode.

[2020-11-21 07:51] ayushontop commented on #483
@Shivansh2407 ohk thanks

[2020-11-21 14:41] anushri20 commented on #483
@Shivansh2407 I have made the PR by the way.

[2020-11-28 13:46] saumyasrivastava08 opened #491 "To add some more new Features"
I was thinking we should add on more features for practicing the questions. Such as MCQ's, Short and long questions some Mock test Papers too.
Most of the colleges take MCQ's test students can practice here.
Adding a mock test feature will lead to enthusiasm among students to practice more.

[2020-11-28 13:47] saumyasrivastava08 commented on #475
Can i work on this

[2020-12-12 05:34] anushri20 commented on #476
@danielluehr Hi, have you fixed this or still needs to be fixed?

[2020-12-16 06:11] anushri20 commented on #476
okay, I would like to give it a try !

[2020-12-16 06:13] Shivansh2407 commented on #476
Go ahead @anushri20 👍

[2020-12-26 12:30] AdityaTeltia commented on #475
Is this issue still open ? And can I work on it ? @danielluehr @Shivansh2407

[2020-12-26 12:34] AdityaTeltia commented on #475
![SWOC](https://user-images.githubusercontent.com/67232537/103151516-b01f9300-47a4-11eb-92b5-1302cad48236.JPG)
We can do like in the picture to solve the 3 point of this issue . Tell if I can make a pr? @danielluehr @Shivansh2407

[2020-12-26 14:40] Shivansh2407 commented on #475
Yes @AdityaTeltia , You can go ahead and make a PR

[2020-12-26 14:49] AdityaTeltia commented on #475
Sure , I tried this in inspect elements let me do this in code and i will make the pr .

[2020-12-26 15:19] AdityaTeltia commented on #475
Can you tell how to setup the environment I have downloaded ruby but when  I write
```gem install bundler```
it says gem not found ?
I am unable to find how to set it up ?
@Shivansh2407 @danielluehr

[2020-12-26 17:00] anushri20 commented on #475
Hi @Shivansh2407 , there is a PR opened for this issue.

[2021-01-10 12:02] Vishal-raj-1 commented on #446
@coding-CEO I have check it several time !! There is no such error. Maintainer can close this issue.

[2021-01-10 12:08] Vishal-raj-1 commented on #483
![xor](https://user-images.githubusercontent.com/59874304/104122333-8355a900-536a-11eb-861c-e4d6676c549a.JPG)

@Shivansh2407 I think this issue is solved you can close this issue now!!

[2021-01-10 12:12] Vishal-raj-1 commented on #476
is this issue fixed ? @anushri20 are you working on this issue ?

[2021-01-10 12:49] Vishal-raj-1 commented on #471
@harshitaaaaaa I would like to resolve this issue.

[2021-01-11 05:39] anushri20 commented on #476
@Vishal-raj-1 Hi, I am not working on this issue right now. You can work on this issue if you want to.

[2021-01-11 06:24] AABHINAAV commented on #475
hello, @Shivansh2407 , I can capable of solving these issues easily.
please tell me if this is still open to work on ?
and how can i get into some guidance or organisational community channel ?

[2021-01-11 11:12] Shivansh2407 opened #494 "Canonical Functions Page not rendering properly [GSOD 2020 Branch]"
## Describe the bug
There are some white spaces which needs to be cleared so that it gets rendered properly similar to other pages .

## To Reproduce

Steps to reproduce the behavior:

1.  Go to '/docs/logic-design/canonical.html'
2.  See error

## Screenshots

![image](https://user-images.githubusercontent.com/42182955/104173371-adbb6b00-542b-11eb-9a5c-6bf8ae24a4f5.png)

## Desktop (please comple

[2021-01-11 11:50] Shivansh2407 opened #495 "Close menu item when clicking on another menu element [ GSOD 2020 Branch ]"
## Is your feature request related to a problem? Please describe.

The Idea is to make a Clean Sidebar which closes menu item whenever another menu element is clicked. This way, all the menu items will not be left opened, and will help the user to navigate through the items easily.

## Additional context

Comment below to Claim the Issue!

[2021-01-11 11:59] Shivansh2407 opened #496 "Fix Interactive Element Alignment [GSOD 2020 Branch ]"
## Describe the bug

The Interactive element Outputs an unordered list when the user provides an integer input. The List alignment is not proper and needs to be fixed.

## To Reproduce

Steps to reproduce the behavior:

1.  Go to '/docs/binary-representation/encoding-information.html'
2.  Click on 'Send' after providing an input
3.  See error

## Expected behavior

The Alignment needs to be fixed.

[2021-01-12 06:04] Vishal-raj-1 commented on #496
I am looking forward to this issue !!

[2021-01-14 05:44] Zeeshan-2k1 commented on #495
I would like to work upon it.

[2021-01-14 12:46] anushri20 commented on #494
@Shivansh2407 Hi, I would like to work on this.

[2021-01-14 12:48] Shivansh2407 commented on #494
@anushri20 you can go ahead and make a PR. Happy Contributing 🎉

[2021-01-14 12:49] Shivansh2407 commented on #495
@Zeeshan-2k1 you can go ahead and make a PR. Happy Contributing 🎉

[2021-01-14 12:49] Shivansh2407 commented on #496
@Vishal-raj-1 you can go ahead and make a PR. Happy Contributing 🎉

[2021-01-16 10:48] Ayushgup85 commented on #471
May i work on this issue?

[2021-01-26 07:20] 2019UCP1350 opened #498 "Fix the clickable event of the main button and some overlapping elements in the circuit diagram."
## Describe the bug

The main button on the NAND gate method page isn't working; the magnifier icons on the bottom right corner are hiding the text behind it and the cancel button to return to normal view from fullscreen view looks like an image rather than a clickable button.

## To Reproduce

Steps to reproduce the behavior:

1.  Go to 'https://learn.circuitverse.org/docs/nand_gate_method.html'

[2021-01-26 07:21] 2019UCP1350 commented on #498
I would like to work on this issue. Could I work on it?

[2021-01-26 07:31] Shivansh2407 commented on #498
@2019UCP1350 , You can refer to the GSOD 2020 Branch for the transformed Interactive Book, we have some open issues for the same. After fixing them, we will be merging it soon to the master.

[2021-01-26 07:31] #498 closed

[2021-01-27 14:22] anushri20 commented on #496
@Shivansh2407 Hi, Can i work on this?

[2021-01-27 14:25] Vishal-raj-1 commented on #496
@anushri20 Yes !!

[2021-01-28 06:47] Shivansh2407 commented on #496
#500 Merged

[2021-01-28 06:47] #496 closed

[2021-01-28 06:47] Shivansh2407 commented on #494
#497 Merged

[2021-01-28 06:47] #494 closed

[2021-01-29 14:24] jyotsana3108 commented on #470
I would like to work on this issue. I will add a separate section where someone can type binary numbers and the process of addition and result will be displayed.

[2021-01-29 14:53] jyotsana3108 commented on #442
If you no one is working on this issue. I would like to work on it

[2021-01-31 15:46] chinmaym07 commented on #495
Hey @Shivansh2407 Can I try this issue .? if it's available .?

[2021-01-31 15:54] Shivansh2407 commented on #495
Go ahead @chinmaym07 as @Zeeshan-2k1 has not raised any PR for this issue . Keep Contributing 🎉

[2021-01-31 16:30] chinmaym07 commented on #420
@nileshdas can I work on this .?

[2021-01-31 16:34] chinmaym07 commented on #454
@schezfaz can O work on this .?

[2021-02-01 05:41] nileshdas commented on #420
@chinmaym07 Go ahead

[2021-02-02 16:46] Shivansh2407 commented on #470
@jyotsana3108 please check the GSOD 2020 Branch and issues related to it.

[2021-02-02 16:46] #470 closed

[2021-02-03 04:38] jyotsana3108 commented on #470
Good morning sir,

Sir will you check for issue #442.

Thank you

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Tue, 2 Feb 2021 at 22:16, Shivansh Srivastav

[2021-02-06 03:37] 2019UCP1350 commented on #491
I think it is a very good features
Can I work on this?

[2021-02-06 03:45] 2019UCP1350 commented on #498
@Shivansh2407 in GSOD 2020 Branch only the clickable button issues are mentioned. Formatting issues are still not mentioned yet.
So, can I work on them?

[2021-02-06 03:51] 2019UCP1350 commented on #495
@Shivansh2407
On the same circuit page, the magnifier icons on the bottom right corner are hiding the text behind it and the cancel button to return to normal view from fullscreen view looks like an image rather than a clickable button.
I had properly described this formatting issue in #498
So, Can I work on it?

[2021-02-06 05:16] Shivansh2407 commented on #495
@2019UCP1350 Please attach screenshots to support your statement . Here specifically I am referring to the Sidebar in the Book ( GSOD-2020 Branch ). When an item in the sidebar is clicked, and if any other item/dropdown in the sidebar is open, then it should get closed automatically on clicking another item. Reference Link - https://jqueryui.com/accordion/

[2021-02-06 05:17] Shivansh2407 commented on #495
@chinmaym07 are you working on this issue?

[2021-02-06 05:28] chinmaym07 commented on #495
Yes @Shivansh2407 ..will try make a pr asap.sorry for the delay.

[2021-02-06 10:29] 2019UCP1350 commented on #495
@Shivansh2407

There is the screenshot of the issues I was talking about in #498.

As mentioned in the screenshot, the main button isn't working and the magnifier icons are hiding the text. Along with that, the cancel icon doesn't look like a button so we can add some CSS to this icon to make it appear more like a button.

![Screenshot (360)_LI](https://user-images.githubusercontent.com/59130222/1

[2021-02-10 10:12] chinmaym07 commented on #495
@Shivansh2407 Can we make the sidebar closed by default . as whenever I click on a link .It will redirect to a new page which will by default has the sidebar opened .so if I try to close on clicking a link it will again be opened when the new page is rendered completely.!!
![Peek 2021-02-10 15-20](https://user-images.githubusercontent.com/44670961/107493505-b2eb1180-6bb3-11eb-82c5-c2e43c361e6d.gif

[2021-02-11 18:34] ayan-biswas0412 commented on #459
@tachyons what kind of help do you want

[2021-02-12 08:42] Samridhi-98 opened #503 "Feature request for Additional Topic"
## Is your feature request related to a problem? Please describe.

No, this feature request is not related to a problem just provide **Missing topics like Comparator**

## Describe the solution you'd like

There are few topics that can be added like **Comparator** and some useful youtube links to boost up the concepts.

[2021-02-14 18:20] ayan-biswas0412 commented on #503
@satu0king is this issue valid ? Can I work in this issue ?

[2021-02-14 23:11] ayan-biswas0412 opened #505 "To add some new pop quizzes to the various topics in the book"
## Is your feature request related to a problem? Please describe.
The objective of this feature is to provide the users a interactive quiz to understand the topics more concisely there is a already [issue](https://github.com/CircuitVerse/Interactive-Book/issues/491) on this topic but there is not written that all the PRs related to it should point to the ```master``` branch and this is the main pr

[2021-02-14 23:14] ayan-biswas0412 commented on #505
@saumyasrivastava08 @Samridhi-98 @ritik307 please see this and add your thoughts
please add your views also @Shivansh2407

[2021-02-15 09:23] ayan-biswas0412 commented on #491
@ritik307 and @Samridhi-98 can you reference your PRs here #505

[2021-02-15 09:29] ritik307 commented on #491
@ayan-biswas0412  just did that....plz look into it

[2021-02-15 09:32] ayan-biswas0412 commented on #491
Thanks @ritik307

[2021-02-15 09:33] ayan-biswas0412 commented on #491
@saumyasrivastava08 can you close this issue ? Ref #505

[2021-02-15 09:39] Samridhi-98 commented on #491
@ayan-biswas0412  Done!

[2021-02-15 09:47] ayan-biswas0412 commented on #491
Thanks @Samridhi-98

[2021-02-15 10:50] Shivansh2407 commented on #505
@ayan-biswas0412 great work! This will keep all the PRs related to Pop quiz in one place. Could you please update the issue, including a checklist with all the pages present in the Updated Book (GSOD 2020 Branch), and we'll check off the pages for which the PRs have been made so that it is easy for the contributors to figure out the left out pages which do not have pop quiz.

[2021-02-15 10:53] ayan-biswas0412 commented on #505
yah sure I will definitely do that .

[2021-02-15 11:10] ayan-biswas0412 commented on #505
@Shivansh2407 please see the checklist above I have updated that and please review my PRs 🥳

[2021-02-15 11:25] ayan-biswas0412 commented on #491
@Samridhi-98 @ritik307 you can close your old PRs which got immense merge conflict before

[2021-02-15 11:32] Samridhi-98 commented on #491
@ayan-biswas0412  Already done.

[2021-02-15 11:34] ayan-biswas0412 commented on #491
```Fixes #505``` change in your PR message

[2021-02-15 11:36] ritik307 commented on #491
@ayan-biswas0412 Done! plz look into it and let me know of any further changes.

[2021-02-15 11:37] Samridhi-98 commented on #491
Done

[2021-02-15 11:38] ayan-biswas0412 commented on #491
@ritik307 and @Samridhi-98 now it looks fine 🥰

[2021-02-15 11:44] ayan-biswas0412 commented on #505
as this issue is very big can you pin this issue ?

[2021-02-15 14:28] ayan-biswas0412 commented on #505
currently I am working on the mux-functions.md I will add PR soon

[2021-02-15 14:45] ayan-biswas0412 commented on #505
### My Active PRs till now in this issue

#510  : mux-functions.md
#509 : mux-demux.md
#506 : negative-quantities.md

### Currently working on

encoders-decoders.md

[2021-02-15 15:04] Shivansh2407 commented on #505
I would like to get your views on introducing a Question Bank sort of System that fetches Random questions everytime the page loads. This way, the user will get different questions and will not make it predictable for the users. You can continue to work on the PRs, we can update the Pop quiz later when this System is completely built.
Let me know your views on this @satu0king.

[2021-02-15 15:15] Shivansh2407 commented on #495
Please take a look at the GSOD 2020 Branch, It has an updated sidebar for which this issue is created.

[2021-02-15 21:25] SaDevat commented on #476
@danielluehr is this issue still valid? If yes can I start with it?

[2021-02-16 03:39] 2019UCP1350 commented on #495
@Shivansh2407   Can I work on this?

[2021-02-16 07:41] Shivansh2407 commented on #505
This is to inform everyone who all are working on the PRs related to this issue (Pop Quizzes), make sure that the Questions you include in the Quiz are not directly from any website. We have transformed the Interactive Book during the Season of Docs and it is free of plagiarism. By introducing replicated questions from different websites in the Pop quizzes, we do not want to break the rules. You c

[2021-02-18 04:35] manjotsidhu commented on #476
@danielluehr This issue is due to the ordering of pages according to `nav_order` and since now that you have made it to adjust level and section both inside a single variable, ordering of those will be a hard task. Instead I would suggest to actually use `level` and `nav_order` separately. This will make using variables easy and more modular to handle them.

From :
`nav_order: l0s001`

To :
`level

[2021-02-18 05:10] manjotsidhu commented on #476
@danielluehr This issue is being caused due to the new navigation structure of `nav_order`. `nav_order` should have the order of a page in sequential order just like we had previously. But now, `level` is included and `section` order is added to `nav_order`. I don't understand why only one variable was made to accumulate these all parameters.

This makes the ordering hard and code less modular, fa

[2021-02-21 07:32] manjotsidhu commented on #505
Question Bank looks like a great idea but how you are looking to group them ? I would prefer to be grouped according to chapter and tagged for associated target section. In this way, while reading the chapters from difficulty level 0 to 2 (top-down), the question bank will include the ones which were also targeted to the previous questions and randomizes the questions to test the thorough revision

[2021-02-21 10:21] manjotsidhu commented on #495
@Shivansh2407 we can close this issue as #513 merged

[2021-02-21 10:21] manjotsidhu commented on #476
@Shivansh2407 kindly close this, #511 merged

[2021-02-21 10:23] Shivansh2407 commented on #495
Closing this Issue, Fixed in #513

[2021-02-21 10:23] #495 closed

[2021-02-21 10:25] Shivansh2407 commented on #476
Closing this Issue, Fixed in #511

[2021-02-21 10:25] #476 closed

[2021-02-21 11:22] manjotsidhu opened #514 "[GSoD2020 Branch] Dark Mode Button broken on Home Page"
## Describe the bug
"Dark Mode" is broken on Home Page in GSoD2020 branch, fixing this is a priority.

## To Reproduce

Steps to reproduce the behavior -
1.  Go to 'https://betalearn.circuitverse.org'
2.  Click on 'Dark mode'.

## Expected behavior
Dark Mode switch should work as intended, it should change the color scheme to Dark.

**NOTE**: This Dark Mode switch mode just works fine on other pag

[2021-02-21 13:51] Samridhi-98 commented on #505
**Currently working on :**

- fpga.md
- microprocessors.md
- rom-microcontrollers.md

[2021-02-21 13:51] ritik307 commented on #505
@Shivansh2407 @ayan-biswas0412 Currently working on `flow-diagrams` , `fsm`  and `race-conditions`.

[2021-02-23 05:05] infern018 commented on #514
can u assign this to me? @manjotsidhu

[2021-02-23 05:17] manjotsidhu commented on #514
Go ahead

[2021-02-23 05:47] manjotsidhu opened #519 "[GSoD2020] Disqus Color Scheme Issue in Dark Mode"
## Describe the bug
Text color for Disqus thread in dark mode should match with the color scheme.

## To Reproduce
Steps to reproduce the behavior:

1.  Go to 'betalearn.circuitverse.org'
2.  Click on any page, example: Binary Representation
3.  Click on Dark Mode to enable dark mode
4.  Scroll down to footer comments

## Expected behavior
Text color should be white for dark color scheme.

## Scre

[2021-02-23 09:31] infern018 commented on #514
I had a small doubt here @manjotsidhu  for accessing the URL u mentioned in my local system what steps I have to take? As the one visible at http://127.0.0.1:4000// is showing that dark mode is working fine

[2021-02-23 09:37] manjotsidhu commented on #514
It's the same, make sure you are on `GSoD2020` branch

[2021-02-23 09:51] infern018 commented on #514
![image](https://user-images.githubusercontent.com/52378712/108826735-aff81400-75ea-11eb-945f-d9cae1e2b50d.png)
I am getting this error while running bundle for GSoD2020 branch

[2021-02-23 09:55] manjotsidhu commented on #514
Did you tried `bundle install` ?

[2021-02-23 09:58] infern018 commented on #514
yes I did that even then I am getting this error

[2021-02-23 10:00] infern018 commented on #514
Is there any file **./color_schemes/circuitverse** in the GSoD branch?

[2021-02-23 10:12] manjotsidhu commented on #514
Yes, it's under `_sass` directory

[2021-02-23 10:41] infern018 commented on #514
One doubt why in my error it saying that _error converting 'assets/css/just-the-docs-default.scss'_ when there is no such file _just-the-docs-default.scss_ ?

[2021-02-23 10:44] manjotsidhu commented on #514
We use just-the-docs gem, it has its assets. It's trying to find that.

[2021-02-23 14:39] infern018 commented on #514
Hey @manjotsidhu  sorry to bother you again but I successfully resolved the setup conflicts, I am stuck at one part that the code in _includes/general_scripts.html_ is being executed every time except when we are on the homepage, can you guide me how will I know if we are on the homepage?

[2021-02-23 14:57] Shivansh2407 commented on #505
Hey Everyone, Great job 🎉 You all have been making a lot of PRs, and you need not to worry as I will be reviewing them soon. I was thinking to implement a Question Bank System as mentioned earlier that will benefit us in the long run. From a user point of view, one would not expect to answer same questions everytime, that is being done using pop quizzes which are static and shows fixed questions.

[2021-02-23 15:12] ayan-biswas0412 commented on #505
@Shivansh2407 I totally agree with you but I think for that for this we can plan a rough flow that for now we can accept questions from the developers as PRs like what we are doing currently and when a particular page will reach certain number of questions say (approxx 30 questions) then we can randomly show 5 questions and hide rest of them.
Now the question base will enlarge by contribution from

[2021-02-23 16:15] Samridhi-98 commented on #505
@Shivansh2407  Totally agree with your idea we should implement something like a question bank to provide a variety to the users to boost up their knowledge by solving different questions on a particular topic.

[2021-02-23 16:27] manjotsidhu commented on #505
We should focus on collection of questions first and then we can eventually build up the system later on. We can collect questions in a sofisticated data structure in some kind of database to make this happen. Another task would be adding already deployed quizes to that database.

The database can be made up of JSON, YML or even using online tools like Google Sheets, Google Form etc.

[2021-02-23 17:39] ritik307 commented on #505
@Shivansh2407  Yes, I also do think so that we should add a number of questions for each topic to provide a clear understanding of the topics.

[2021-02-24 15:56] infern018 commented on #519
Can I make a PR for resolving this issue?

[2021-02-24 15:57] manjotsidhu commented on #519
Sure why not

[2021-02-24 17:20] infern018 commented on #519
![image](https://user-images.githubusercontent.com/52378712/109039170-80343380-76f2-11eb-98cd-d94d92281113.png)
**disqus** is not loading at the localhost

[2021-02-25 04:41] manjotsidhu commented on #519
It won't load

[2021-02-27 05:26] manjotsidhu commented on #519
@infern018 any updates on this ? I suggest you to take a look at https://learn.circuitverse.org, Disqus color scheme is working their.

[2021-02-27 05:55] infern018 commented on #519
actually I don't know how will I be able to see changes in my local if I do something, but i will have a look at the link you shared, how its implemented there

[2021-02-27 06:18] manjotsidhu commented on #519
You can make a draft PR or run netlify on your fork to check the changes.

[2021-02-27 06:50] manjotsidhu commented on #519
You can serve on your local server by setting up from test disqus thread.

[2021-02-27 09:13] infern018 commented on #519
hey @manjotsidhu  apologies but I am unable to run disqus on localhost

[2021-02-28 05:15] manjotsidhu commented on #519
@infern018 you can set a global variable before iframe is loaded as `var disqus_developer = 1;`. This might work for testing use.

[2021-02-28 05:18] infern018 commented on #519
I tried that, but it's not working

[2021-02-28 05:23] manjotsidhu commented on #519
Make sure your `disqus_config` looks like this :
[code]

[2021-02-28 05:36] manjotsidhu commented on #519
Alright then, I will fix this issue. You can fix hound issues in #460

[2021-03-03 13:50] manjotsidhu commented on #514
@Shivansh2407 Closing since #523 merged. Thanks @infern018.

[2021-03-03 13:50] #514 closed

[2021-03-08 15:23] Shivansh2407 commented on #505
@ritik307 @manjotsidhu @ayan-biswas0412 I am keeping the PRs on Hold for now and I will not be merging them as we need to decide about this in detail, You guys are doing a great job in generating the Questions but to be sure that they're all free from plagiarism and follow a specific format like each page has 5 Questions, or as said earlier we need to make a Question bank system etc. We need to yo

[2021-03-08 15:29] manjotsidhu commented on #505
The database can be made up of JSON, YML or even using online tools like Google Sheets, Google Form etc.

I had a suggestion, we don't really need to hold the PRs for pop quizzes because even if a new system will come in place, we anyway have to migrate the questions already in Interactive Book to the system.

[2021-03-08 16:31] manjotsidhu commented on #519
Closing, fixed in #528

[2021-03-08 16:31] #519 closed

[2021-03-10 17:43] manjotsidhu commented on #483
@Shivansh2407 kindly close, fixed in #528

[2021-03-10 17:43] manjotsidhu commented on #475
Kindly close, fixed in #528

[2021-03-10 18:02] #475 closed

[2021-03-10 18:02] #483 closed

[2021-03-11 12:22] manjotsidhu opened #530 "[GSoD2020] Empty Pages"
## Describe the bug

In GSoD2020 there are various empty pages which are present and are shown in navigation. Here is the full list of the incomplete pages -

1. https://betalearn.circuitverse.org/docs/comb-ssi/symbols.html
2. https://betalearn.circuitverse.org/docs/comb-ssi/truth-tables.html
3. https://betalearn.circuitverse.org/docs/comb-ssi/time-behaviour.html
4. https://betalearn.circuitverse.

[2021-03-11 12:23] ayan-biswas0412 opened #531 "Unnecessary Green Screen overlay appearing in screen when switching ON/OFF"
## Describe the bug
An unnecessary green box is appearing when anybody tootles the switch

## To Reproduce

Steps to reproduce the behavior:

First change the branch to 'GSoD2020'
1.  Go to 'Bnary Algebra.'
2.  Click on 'Boolean algebra'
3. Select any gate
4.  Try to toggle switch from ON to OFF
5.  See error

## Expected behavior
The green overlap should not appear

## Screenshots
<img width="864

[2021-03-11 12:23] manjotsidhu commented on #530
@satu0king @tachyons need inputs on how we should deal with this ?

[2021-03-11 12:27] ayan-biswas0412 commented on #531
cc @Shivansh2407

[2021-03-11 12:34] manjotsidhu commented on #531
Can't confirm this one because I haven't tried on Safari yet but there is another issue as when the page loads switches and bulb don't load or they are completely empty. I feel both these issues are related and should be fixed.

[2021-03-14 01:32] pavanjoshi914 opened #533 "some links ->broken -> readme.md"
## Describe the bug
  found two links broken in readme.md
## A clear and concise description of what the bug is.
link for cv logo and git-contributing to project is broken
## To Reproduce

Steps to reproduce the behavior:

1.  Go to 'https://github.com/CircuitVerse/Interactive-Book'
2.  visit readme.md
4.  See error

## Screenshots
link broken for cv logo :: https://github.com/CircuitVerse/Circuit

[2021-03-14 01:47] pavanjoshi914 commented on #473
@Shivansh2407 in new structure of book( gsod branch) it is in http://localhost:4000/docs/comb-ssi/logic-gates.html i was thinking of rising a new issue for it.
![2021-03-14_07-13](https://user-images.githubusercontent.com/55848322/111054754-05f70380-8495-11eb-9eb0-632bea11974b.png)
wire after gate needs to be white i would like to fix it. also  the embed area for logic gate is dark which is hard t

[2021-03-14 04:14] pavanjoshi914 commented on #471
I think it looks good on beta version of this docs i.e gsod2020. @harshitaaaaaa you can close this issue. @Shivansh2407 any inputs here?

[2021-03-14 04:17] pavanjoshi914 commented on #533
@tachyons any inputs here?

[2021-03-14 04:26] pavanjoshi914 commented on #454
@schezfaz I think this beta version of this books has fixed this problem and can be closed ,thanks
vist this :https://betalearn.circuitverse.org/docs/binary-algebra/boolean-functions.html#references

[2021-03-14 04:42] pavanjoshi914 commented on #116
pr for this features is merged and issue can be closed

[2021-03-14 10:50] Shivansh2407 commented on #454
Updated in GSOD 2020 Branch

[2021-03-14 10:50] #454 closed

[2021-03-14 11:18] prabhat04011998 commented on #533
hey @pavanjoshi914 i wanna take this issue,
if yes where I'll get the  correct links?

[2021-03-14 11:44] pavanjoshi914 commented on #533
Hii @prabhat04011998 already working on it . thanks

[2021-03-14 13:36] prabhat04011998 commented on #533
okay no worries! Thanks

[2021-03-17 07:23] manjotsidhu commented on #533
@pavanjoshi914 1. You can use the updated logo (https://raw.githubusercontent.com/CircuitVerse/CircuitVerse/master/simulator/src/img/cvlogo.svg?sanitize=true) to fix this
2. Git - Contributing to a Project Link is working fine
3. For the time being, you can update to https URL of the same blog post, https://who-t.blogspot.com/2009/12/on-commit-messages.html

Also, please do make Pull Request on `G

[2021-03-26 08:13] Shivansh2407 commented on #533
@pavanjoshi914 You can just make a PR with the updated Links. I have updated the Logo! Keep Contributing 🎉

[2021-03-26 09:29] ayan-biswas0412 commented on #505
@Shivansh2407 there are lot of work incomplete in this issue can you please reopen it ?

[2021-03-26 09:34] Shivansh2407 commented on #505
This got closed because of merging #512, No worries! Reopening this Issue 👍

[2021-03-26 09:46] ayan-biswas0412 commented on #505
thanks

On Fri, Mar 26, 2021 at 3:14 PM Shivansh Srivastava <
***@***.***> wrote:

--
With best wishes,
*AYAN BISWAS <http://www.ayanbiswas.in>,*
*UG Student (2019-23 Batch) at *

*Department of Electronics and Telecommunication Engineering
<https://www.etceju.org/>*
*Faculty of Engineering Technology*
*Jadavpur University*
http://www.ayanbiswas.in
https://www.linkedin.com/in/ayanbiswas-juetceug/

[2021-03-26 18:06] ayan-biswas0412 commented on #505
@Shivansh2407 again closed lol 😅

[2021-03-26 18:09] Shivansh2407 commented on #505
Make sure everyone to just mention this particular issue in the description while making the PR. Fixes #Issue will just close this everytime.
Happy Contributing 🎉

[2021-03-26 18:09] ayan-biswas0412 commented on #505
yes I am updating the message

[2021-03-27 11:36] two-ticks commented on #533
![image](https://user-images.githubusercontent.com/68433541/112719309-569f3f80-8f1e-11eb-9817-4e026177f8e8.png)
[https://github.com/CircuitVerse/Interactive-Book/blob/GSoD2020/assets/images/ib.png](https://github.com/CircuitVerse/Interactive-Book/blob/GSoD2020/assets/images/ib.png) link is also broken in the README.md

[2021-03-29 13:56] two-ticks opened #540 "broken links and blur images in recommendation"
## Describe the bug

Images are blurry and image for `binary numbers` is not loading

## To Reproduce

Steps to reproduce the behavior:

1.  Go to 'https://learn.circuitverse.org/'
2.  Scroll down to 'ALSO ON INTERACTIVE BOOK' section
3.  See error

## Expected behavior

Images should load and must be of standard quality

## Screenshots

![image](https://user-images.githubusercontent.com/68433541/

[2021-03-29 14:25] saumyasrivastava08 opened #541 "To Add No of open issues pr forks automatically in readme section"
Can I work on this issue?

[2021-03-30 04:37] saumyasrivastava08 commented on #541
@satu0king can I work on this

[2021-03-31 06:46] tachyons commented on #541
This does not add any value to the project as both values are visible in Github ui

[2021-03-31 06:46] #541 closed

[2021-04-04 15:31] manjotsidhu commented on #540
There might be several pages where a post doesn't contain a single image, due to which Disqus recommendations don't show any image. For those posts, we can add specific meta tag to load a custom image. We need to design a default fallback image to be able to be used by this meta tag.
```<meta property="og:image" content="IMAGE_URL">```

[2021-04-05 14:26] Shivansh2407 commented on #505
@ayan-biswas0412 could you please update the description by checking off the pages which are now equipped with the Pop Quiz feature. It will be easier for the contributors to identify, on which pop quiz to work! 👍

[2021-04-05 14:29] ayan-biswas0412 commented on #505
sure will do that

[2021-04-05 14:33] ayan-biswas0412 commented on #505
done

[2021-04-09 09:01] ayan-biswas0412 commented on #505
@Shivansh2407 pls reopen

[2021-04-18 19:34] ayan-biswas0412 commented on #505
@Shivansh2407 should I add more quizzes like before in this issue , or is there any update available about the question randomiser like question will be fetched from a pool of questions ?

[2021-05-22 07:24] manjotsidhu commented on #530
I am marking these pages as drafts as we don't want to show empty pages in deployments. CC @satu0king @Shivansh2407

[2021-05-22 07:30] Shivansh2407 commented on #530
The better option would be to either remove these or just hide these pages (Hiding would help us keep a track of the empty pages and only the content needs to be added which can be done in the near future), from the Betalearn as well, so that we do not show empty pages on the Main interactive book upon the final merge👍
Keep Contributing 🎉😄

[2021-05-22 07:34] manjotsidhu commented on #530
Yes, In jekyll if we add front-matter tag as "published: false" in the post, we can hide it from getting them published. And that's what I was planning
ref: https://www.hongkiat.com/blog/jekyll-draft/

[2021-05-22 07:49] Shivansh2407 commented on #530
Sure, Go ahead and Make a PR! We can then finalize the Interactive Book and merge it👍

[2021-05-30 03:42] manjotsidhu commented on #533
Fixed by #460

[2021-05-30 03:42] #533 closed

[2021-05-30 03:43] manjotsidhu commented on #481
Fixed by #460

[2021-05-30 03:43] #481 closed

[2021-05-30 03:44] manjotsidhu commented on #491
Superseded by #505

[2021-05-30 03:44] #491 closed

[2021-05-30 03:47] manjotsidhu commented on #473
@pavanjoshi914 you can work on it and since `GSoD2020` is merged, you can directly work on `master` branch.

[2021-05-30 03:47] manjotsidhu commented on #471
Fixed by #460

[2021-05-30 03:47] #471 closed

[2021-05-30 03:49] manjotsidhu commented on #464
Fixed by #460

[2021-05-30 03:49] #464 closed

[2021-05-30 03:50] manjotsidhu commented on #459
Implemented by #460

[2021-05-30 03:50] #459 closed

[2021-05-30 03:50] manjotsidhu commented on #458
Fixed by #460

[2021-05-30 03:50] #458 closed

[2021-05-30 03:50] manjotsidhu commented on #446
Fixed by #460

[2021-05-30 03:50] #446 closed

[2021-05-30 03:56] manjotsidhu commented on #407
Fixed by #460

[2021-05-30 03:56] #407 closed

[2021-05-30 03:57] #357 closed

[2021-05-30 03:58] manjotsidhu commented on #329
Fixed by #460

[2021-05-30 03:58] #329 closed

[2021-05-30 03:58] manjotsidhu commented on #150
Fixed by #460

[2021-05-30 03:58] #150 closed

[2021-05-30 04:01] #116 closed

[2021-05-30 04:02] #95 closed

[2021-05-30 04:02] manjotsidhu commented on #88
Fixed by #460

[2021-05-30 04:02] #88 closed

[2021-05-30 04:02] manjotsidhu commented on #78
Fixed by #460

[2021-05-30 04:02] #78 closed

[2021-05-30 04:03] manjotsidhu commented on #57
Fixed by #460

[2021-05-30 04:03] #57 closed

[2021-05-30 04:04] #37 closed

[2021-05-30 04:05] manjotsidhu commented on #34
Fixed by #460

[2021-05-30 04:05] #34 closed

[2021-05-30 04:07] #4 closed

[2021-06-01 15:22] Shivansh2407 opened #551 "Broken Links in Sequential MSI -> Registers"
## Describe the bug

The links present under the sub-modules heading, are broken and lead to a '404' page not found!

## To Reproduce

Steps to reproduce the behavior:

1.  Go to 'https://learn.circuitverse.org/docs/seq-msi/registers.html#sub-modules'
2.  Click on Any of the 4 links present under the Sub-Modules Heading
3.  See error

## Expected behavior

It should take us directly to the linked

[2021-06-01 15:27] Shivansh2407 commented on #540
Hey @manjotsidhu, these links are currently broken as they're mapped to the previous book. Could you please look into this as these related with Disqus. Thanks! :+1:

[2021-06-01 17:12] himanshu007-creator commented on #551
Hi, i would like to work on this issue 😄

[2021-06-02 05:23] Shivansh2407 commented on #551
Hey @himanshu007-creator, Daniel has taken up this issue and also has raised a PR. I'll suggest you to look for other issues, and we'll be opening some issues soon as well! :+1:  Thank you for your interest
Keep Contributing :tada:

[2021-06-02 12:31] #551 closed

[2021-06-05 09:10] ShreyaPrasad1209 opened #553 "Improve Copyright Font Color"
## Describe the bug
At the end of every page, the copyright line seems hard to read in dark mode.

## To Reproduce

Steps to reproduce the behavior:

1.  Go to https://learn.circuitverse.org/
2.  Scroll down to footer
4.  See the error

## Expected behavior
It should be easily readable in dark mode. It will be great if font color is changed to grey or something similar to make it easily readable.

[2021-06-08 10:09] #540 closed

[2021-06-21 12:37] Shivansh2407 opened #554 "Search Bar placeholder text not visible in Dark Mode"
## Describe the bug

The Placeholder text in the Search Bar i.e. "Search CircuitVerse" is not properly visible in Dark Mode

## To Reproduce

Steps to reproduce the behavior:

1.  Go to 'learn.circuitverse.org'
2.  Switch to Dark Mode
3.  See error in the Search Bar

## Expected behavior

The Placeholder Text for the search bar should have a different color contrast when switched to dark mode.

##

[2021-06-21 12:45] lokeshn011101 commented on #554
Can I know how to register for "Open Source Day"?

[2021-06-21 12:54] Shivansh2407 commented on #554
You can find it here : https://opensourceday.anitab.org/
Also make sure you join CircuitVerse Slack for further information/doubts
Happy Coding :tada:

[2021-06-21 17:37] mindninjaX commented on #554
Hi @Shivansh2407! Look like it's a minor issue which requires some CSS changes. I can help with this 🛠

[2021-06-22 06:09] manjotsidhu commented on #554
Confirmed, this is an issue only in Mozilla Firefox.

[2021-06-25 12:19] Shivansh2407 opened #556 "Boolean Algebra Interactive Element Not Working Properly"
## Describe the bug

Regardless of the Dark/ Light Mode, the Interactive Element i.e. the switches and the Gates Drop-down do not appear and the place is blank. When the user clicks on the Blank space, the switch appears along with the drop-down and the other switch does not appears.

## To Reproduce

Steps to reproduce the behavior:

1.  Go to 'https://learn.circuitverse.org/docs/binary-algebra/b

[2021-06-30 08:50] Ayush7614 commented on #556
I have work on this issue @Shivansh2407 please assign  me

[2021-07-03 21:24] astelrastogi commented on #553
I want to work on this issue

[2021-07-08 12:16] manjotsidhu opened #558 "Convert all HTML image tags to Jekyll style include"
Convert all HTML tags to the recommended liquid syntaxes :

https://learn.circuitverse.org/contributing_guidelines.html#figure-examples

[2021-07-14 21:04] marshalmiller commented on #553
I can also work on this issue.

[2021-07-14 21:05] marshalmiller commented on #505
I would like to contribute to this for OSD.

[2021-07-15 16:11] vvijayalakshmi21 commented on #553
I wanna join the queue if still available

[2021-07-15 16:14] Shivansh2407 commented on #553
As @marshalmiller is working on a PR currently for #505, so you can go ahead @vvijayalakshmi21 :+1:

[2021-07-15 16:29] marshalmiller commented on #505
### My Active PRs till now in this issue 1

#PR_number  : 560

### Currently working on
binary-cubes.md

cc @ayan-biswas0412

[2021-07-15 16:32] jhashivam-2001 commented on #554
I am taking this up for OSD.

[2021-07-15 16:36] Shivansh2407 commented on #554
Go Ahead @jhashivam-2001

[2021-07-15 16:44] vvijayalakshmi21 commented on #553
Thanks. Please can you help me locate the find that needs changing?
I am a newbie to Ruby and would appreciate some pointers.

[2021-07-15 16:46] vvijayalakshmi21 commented on #553
An Inspect using Chrome shows that the element needs changing is:
<p class="text-small text-grey-dk-100 mb-0">Copyright © 2021 Contributors to CircuitVerse. Distributed under a [CC-by-sa] license.</p>

[2021-07-15 16:48] vvijayalakshmi21 commented on #553
Under docs folder I see
![image](https://user-images.githubusercontent.com/34595292/125826333-aa7af909-4100-4b5e-b3d4-2d52785737d9.png)
which I assume corresponds to
![image](https://user-images.githubusercontent.com/34595292/125826367-8a5be3cf-7604-4385-a59a-78235a395840.png)
But I dont know where the Home link related stuffs are located

[2021-07-15 16:48] Shivansh2407 commented on #553
Tip :star: : You can find these in VSCode Search! If not do let us know, I'll help you out.

[2021-07-15 17:01] vvijayalakshmi21 commented on #553
I see on _config.yml
`footer_content: "Copyright &copy; 2021 Contributors to CircuitVerse. Distributed under a [CC-by-sa] license."
`
But not the html where this needs to be changed

[2021-07-15 17:06] vvijayalakshmi21 commented on #553
`<p class="text-small text-grey-dk-100 mb-0">`
I presume the text-grey here needs to be changed. But I cannot locate the html/css file that contains it.

[2021-07-15 17:30] vvijayalakshmi21 commented on #553
@Shivansh2407 please can you help here?

[2021-07-15 17:41] astelrastogi commented on #553
im also working on this issue

[2021-07-15 17:53] vvijayalakshmi21 commented on #553
I see that _sass\color_schemes does have a dark mode file.
Should I add $text-color and give it a value?

[2021-07-15 18:09] Shivansh2407 commented on #553
Sure! Please test it out on your machine and post a screenshot of the fix when you raise a PR. Thanks

[2021-07-15 18:34] Ansh7899 commented on #554
Can I Take this issue for OSD

[2021-07-15 18:51] vvijayalakshmi21 commented on #553
Hello,
As per my analysis, this repo uses Just the Docs documentation theme which by default has the below:
`{%- if site.footer_content -%}
<p class="text-small text-grey-dk-100 mb-0">{{ site.footer_content }}</p>
{%- endif -%}`

And our _config.yml does have a footer_content set.
This indicates that by default the class text-grey-dk-100 will be applied for this custom footer

I am not sure how to

[2021-07-15 19:20] labbasaiteja commented on #554
Can i take this issue

[2021-07-15 19:21] labbasaiteja commented on #554
Can i take this issue

[2021-07-15 19:27] ShreyaPrasad1209 commented on #554
@labbasaiteja sure

[2021-07-15 19:31] indujaaaa commented on #505
## My Active PRs till now in this issue
None

## Currently working on
alu.md

cc @ayan-biswas0412

[2021-07-17 04:41] Amishakumari544 commented on #558
I am working on this.

[2021-07-17 05:19] Amishakumari544 commented on #558
I am working on this.

[2021-07-18 08:21] AsherThomasBabu commented on #553
@vvijayalakshmi21 just-the-docs-themes' css files are locally available in the repo, you can find them at  `/Interactive-Book/_site/assets/css`

You should be done by just changing the `text-grey-dk-100` color property in the `just-the-docs-circuitversedark.css` file.

Also Since OSD was on the 15th, I suppose these issues tagged as **good first** can now be taken on by other contributors as well?

[2021-07-18 08:36] vvijayalakshmi21 commented on #553
@AsherThomasBabu Thanks for your pointer. I see only the below in just-the-docs-circuitversedark.css file.
![image](https://user-images.githubusercontent.com/34595292/126061034-3e33d84e-3824-4dd0-8e5f-684cf0c7bda0.png)
Do you mean to say I can just set up the value of `text-grey-dk-100` in this file to a lighter shade and it will be picked up?

[2021-07-18 09:01] AsherThomasBabu commented on #553
Yup @vvijayalakshmi21 you could add that to the end of the file, while making sure to add a `!important` rule so that it gets the priority over the default color.

[2021-07-20 12:00] Amishakumari544 commented on #558
I am facing problem while installing ruby on windows can anyone help?

[2021-07-20 12:03] Amishakumari544 commented on #558
I am facing issue while installing ruby on windows can anyone help me?

[2021-07-22 16:15] manjotsidhu commented on #505
I realized that we don't have guideline and example for writing pop quizzes in Contributing Guidelines. Someone kindly take this up and add those things from this Issue and file a Pull Request.

[2021-08-02 03:56] #558 closed

[2021-08-24 15:31] vedant-jain03 opened #565 "feat: preserve sidebar collapse state"
## Describe the bug

- Sidebar loses the previous state after rendering the page and also after jumping to next page it is mainly due to it does not have global state like dark/light mode.

## To Reproduce

Steps to reproduce the behavior:

1.  Go to 'https://learn.circuitverse.org/'
2.  Click on 'sidebar'
3.  Click on 'next'
4.  See error

## Expected behavior

After clicking next sidebar should

[2021-08-24 15:33] vedant-jain03 commented on #565
@tachyons @Shivansh2407

[2021-09-08 04:33] Vedanshi-Shah commented on #553
Can I work on this issue? Is it open for contributions?

[2021-09-08 21:32] ShreyaPrasad1209 commented on #553
@Vedanshi-Shah sure

[2021-09-18 16:23] vedant-jain03 commented on #565
@nitin10s Please review
We can shift sidebar button in main nav to have global state?

[2021-09-19 08:12] nitin10s commented on #565
1. We can have the sidebar on the left on search bar in main nav, yes
2. We can remove Next and Previous buttons from the top and keep them just at bottoms. All pages have these buttons at the bottom except the Home page.
3. As of now, the sidebar button doesn't have different states for Enabled/Disabled, we can also add that for better feedback.

[2021-09-19 08:13] vedant-jain03 commented on #565
Can I go ahead with this?

[2021-09-19 08:14] vedant-jain03 commented on #565
For the 3 point, I can implement the functionality as documentation page have?

[2021-09-20 10:48] vedant-jain03 commented on #565
Actually @nitin10s I just realise that next_prev buttons are on top as well as on bottom for everypage and for home page it is just at top? If you allow me , I can just make it on bottom only for every page?

[2021-09-30 20:50] LinaJohnson commented on #556
I'm an OSD participant. If this is still available, can I assign this one to myself?

[2021-10-01 17:57] amruta-11 commented on #553
can I work on this issue?

[2021-10-02 12:37] Palaksharma23 commented on #554
Can i take up this issue i want to work on this issue

[2021-10-02 12:38] Palaksharma23 commented on #553
Can i work on this issue ?

[2021-10-02 12:45] manjotsidhu commented on #554
Go ahead

[2021-10-02 19:18] padmajabhol commented on #556
Want to on this.

[2021-10-04 10:23] vedant-jain03 opened #567 "Back to Top Button"
## Is your feature request related to a problem? Please describe.

As this is the documentation and have many y-direction pages, back-to-top button can allow users to go at the top of the document and see what they need.

## Describe the solution you'd like

I will try to implement fixed button that have sign '^' and using javascript I will try to give it functionality.

[2021-10-04 14:46] Palaksharma23 commented on #567
Are you currently working on this issue ?

[2021-10-04 15:07] vedant-jain03 commented on #567
Yes if mentors allowed me to do.

[2021-10-05 05:30] vedant-jain03 commented on #567
@nitin10s What do you think?

[2021-10-09 05:37] #567 closed

[2021-10-10 17:17] manjotsidhu commented on #565
Well that will have no change in the implementation whatsoever. Actually, the fix to this issue don't need to touch any UI side of things.

The toggle state of the button needs to be stored in local storage as a Boolean so that the browser recognizes the last saved state of the button. How we are going to do that ? The JS code for the button's onclick events are already mapped in global JS script

[2021-10-10 17:37] vedant-jain03 commented on #565
@manjotsidhu actually sir. I have reviewed my work with nitin . He is working on the ui of where to place sidebar.

[2021-10-10 17:39] Kartikay304 opened #570 "Adding transition"
**Is your feature request related to a problem? Please describe.**

Currently, when we switch between light and dark theme or vice versa the transition is not smooth.
<br>
**Describe the solution you'd like**

I will try to implement a smooth transition using javascript.
<br>
**Are you working on this? (Yes/No)**
YES

[2021-10-11 02:39] vedant-jain03 commented on #570
@Kartikay304 You can also add transition effect in the responsive navbar for mobile view.

[2021-10-11 05:32] vedant-jain03 opened #571 "Simplifying top navigation"
## Describe the bug

1. Removing Next and Previous buttons from the top and keep them just at bottoms.
2. Changing the position of sidebar to fit in the topmost level navigation.

[2021-10-11 05:34] vedant-jain03 commented on #565
@nitin10s I have created issue for this, I will now raise a PR for global state without changing the UI of sidebar and after you are done with the UI part of this I will raise PR for that separately.

[2021-10-11 05:34] vedant-jain03 commented on #571
@nitin10s

[2021-10-16 05:33] #565 closed

[2021-10-30 16:28] vedant-jain03 opened #578 "feat: Progress Bar for Documentation Page"
## Is your feature request related to a problem? Please describe.

Progress Bar for Documentation Page will let user know the progress he/she made while reading at the top.

## Describe the solution you'd like

Using JS and pageoffset methods

[2021-11-19 03:01] #578 closed

[2021-11-19 10:45] Palaksharma23 commented on #571
@vedant-jain03 are you working on this issue ?
if not, i would love to take up this issue .

[2021-11-19 13:14] vedant-jain03 commented on #571
Yes

[2021-11-21 06:21] Palaksharma23 commented on #553
i have solved this issue , i will make a pr soon

[2021-11-21 06:38] Palaksharma23 commented on #531
I would love to take up this issue can i work on this issue ?

[2021-11-21 06:43] Palaksharma23 opened #581 "Not getting switch when selecting not gate"
## Describe the bug
On selecting not gate the switch disappears

A clear and concise description of what the bug is.

## To Reproduce
![image](https://user-images.githubusercontent.com/87171452/142752475-f661cea8-bb02-4aa1-a35c-136a98b2396e.png)

Steps to reproduce the behavior:

1.  Go to 'Binary Algebra'
2.  Click on 'Boolean Algebra'
3.  Scroll down to 'Click on gate to toggle between other gat

[2021-11-21 06:45] Palaksharma23 commented on #530
I would love to work on this issue , can i take this up ?

[2021-11-21 06:46] Palaksharma23 commented on #505
i would love to work on this issue , can i take this up ?

[2021-11-21 06:59] Palaksharma23 commented on #556
@Ayush7614 if you have already fixed the issue , you can raise a pull request

[2021-11-21 07:57] manjotsidhu commented on #581
Linked to #556

[2021-11-21 08:02] #553 closed

[2021-11-21 08:15] manjotsidhu opened #582 "Sidebar is collapsed for first-time users"
## Describe the bug

Any new user that comes to https://learn.circuitverse.org will see sidebar in collapsed state, the default behavior of sidebar should be shown to user unless manually collapsed.

## To Reproduce

Steps to reproduce the behavior:

1.  Go to 'https://learn.circuitverse.org' in Incognito Mode or InPrivate Window
2.  Sidebar will be collapsed.

## Expected behavior

First time use

[2021-11-21 13:19] Palaksharma23 commented on #582
i would like to work on this issue , can i take up this issue

[2021-11-21 13:44] Palaksharma23 commented on #582
i have solved the issue , will make a pr soon

[2021-11-22 09:07] #582 closed

[2021-11-23 17:07] nitin10s commented on #571
Lets just do 1 and 3 in a single PR for now

[2021-11-24 19:42] Prerna-0202 opened #584 "Two pop quiz in Negative quantities are same"
## Describe the bug
Two pop quiz in Negative quantities are the same and the second one have the wrong answer too...

## To Reproduce

Steps to reproduce the behavior:

1.  Go to 'https://learn.circuitverse.org/docs/binary-representation/negative-quantities.html'
3.  Scroll down to 'Pop Quiz'
4.  See error

## Expected behavior
There are different questions and with right answers

## Screenshots

[2021-11-24 20:41] Prerna-0202 commented on #36
I would like to work on this issue. Is anyone working on this issue?

[2021-11-24 21:04] Prerna-0202 commented on #32
I would like to work on this issue. Is anyone working on this issue?

[2021-11-25 05:01] Prerna-0202 commented on #86
I would like to work on this issue. Is anyone working on this issue?

[2021-11-25 05:56] #584 closed

[2021-11-25 08:15] #32 closed

[2021-11-25 09:28] vedant-jain03 commented on #571
Sure

[2021-11-25 14:36] manjotsidhu commented on #571
@vedant-jain03 Can you state why you think we need to simplify interactive book on the 3 points you mentioned ?

[2021-11-25 15:50] vedant-jain03 commented on #571
1. Currently the next_prev button is placed twice on every page, so it will be space simplified if we place it once below every on every page.
2. Currently there is a Sidebar button in header of every page but if we can place it in main navbar that will be more logical.
3. Currently there is not content_footer in home page that resulting into no comment section , next_prev, more page suggestion et

[2021-11-25 18:23] #86 closed

[2021-11-25 18:32] manjotsidhu commented on #571
In my opinion, I like the prev/next buttons both on top of the page as well as on bottom of the page. It gives me the feeling/vibe that this interactive "book" is really a book not any ordinary guide/blog/docs etc. Also, I will find it comfortable having buttons on top even though it's taking some space in the situations when the pages have a lot of content (Imagine reading a long page but you wan

[2021-11-30 03:29] nitin10s commented on #571
@manjotsidhu I understand the use case that you mentioned and ideally, we should be monitoring the number of clicks to those buttons to understand their effectiveness. The idea, as Vedant mentioned was to simplify the page. If the user is navigating pages without reading, he can do so by the sidebar easily. In the situation you mentioned, if the user is reading a long page and he wants to go next/

[2021-12-01 10:57] manjotsidhu commented on #571
For scroll to top we have a button to quickly scroll to top. We use just-the-docs theme and you can check this [here](https://pmarsceill.github.io/just-the-docs/) and comparing to our use case that is primarily a book reading experience rather than reading docs, the only thing seperates from both is the ease of use by providing buttons both at top and bottom. These buttons are the only "extra" thi

[2021-12-04 12:49] Palaksharma23 opened #591 "Color of code and send button is not visible"
## Describe the bug

Color of code and send button is not visible correctly

## To Reproduce

Steps to reproduce the behavior:

1.  Go to 'https://learn.circuitverse.org/docs/binary-representation/encoding-information.html'
2. Scroll down a little bit
3.  See error

## Screenshots

INITIALLY

![image](https://user-images.githubusercontent.com/87171452/144709869-93fdde87-dea8-4ad3-952c-c0d2575848df

[2021-12-05 14:56] Palaksharma23 commented on #473
can I take up this issue ?

[2021-12-06 06:27] pavanjoshi914 commented on #473
you can take this @Palaksharma23

[2021-12-06 07:17] manjotsidhu opened #593 "Simulator Embeds overflow on mobile devices"
## Describe the bug

Simulator embeds which are embedded in pages using iframe are overflowing on mobile devices.

## To Reproduce

Steps to reproduce the behavior:

1.  Go to 'https://learn.circuitverse.org/docs/seq-msi/mult-div.html'
3.  Scroll down to simulator embeds
4.  See error using chrome devTools responsive phone mode or physical mobile device.

## Expected behavior

The iframe should no

[2021-12-11 10:19] Palaksharma23 commented on #593
can you please assign me this issue @manjotsidhu

[2021-12-13 16:27] Prerna-0202 commented on #28
I would like to work on this issue. Can I start working on this issue?

[2021-12-17 15:49] Palaksharma23 opened #596 "No content in Number-bases.md file"
## Describe the bug

Currently there is no content in Number bases

## To Reproduce

Steps to reproduce the behavior:

https://learn.circuitverse.org/docs/binary-representation/number-bases.html

[2021-12-18 10:32] Palaksharma23 commented on #556
I am giving a try to this issue.

[2021-12-19 05:13] Palaksharma23 commented on #531
@manjotsidhu @ayan-biswas0412  I tried in chrome and edge but i was unable to reproduce the green screen overlay issue.
But i have solved the issue for both thr not gate and as well as for switches not appearing for the first time user loads the page :)

[2021-12-19 05:14] Palaksharma23 commented on #473
@pavanjoshi914  thank you sir

[2021-12-20 13:59] #593 closed

[2021-12-20 14:05] #591 closed

[2021-12-21 08:55] manjotsidhu commented on #531
The issue is concerned with Safari on MacOS Big Sur. You can read the Issue description.

[2021-12-30 06:53] ItsAdityaKSingh opened #605 "Adding Live Workings in Content"
## Is your feature request related to a problem? Please describe.

It is always better to make circuits more interactive and understandable. Merely looking at diagrams and reading text about it may not be appealing.

## Describe the solution you'd like

Adding live workings of circuits and logical gates by using GIFs wherever necessary.

## Describe alternatives you've considered

Either a GIF cou